<div mat-dialog-content>
  <h2 class="text-center">Bill information</h2>
 <div> <span class="min-w-70">fullName: </span><span>{{" "+bill.fullName}}</span></div>
  <div>  <span class="min-w-70">phone: </span><span>{{" "+bill.phone}}</span></div>
  <div><span class="min-w-70">email:</span> <span> {{" "+bill.email}}</span></div>
 <div> <span class="min-w-70">address:</span><span> {{" "+bill.address}}</span></div>
 <div>  <span class="min-w-70">status: </span> <span
   class="status-bill"
    [style.background-color]="getBillColor(bill.status).backgroundColor"
   [style.color]="getBillColor(bill.status).textColor">
   {{" "+ getStatusLabel(bill.status)}}</span>
 </div>
  <div><span class="min-w-70">note: </span> <span>{{" "+bill.note}}</span></div>

</div>
