<!-- product-comment.component.html -->
<div class="comment-section mat-elevation-z1">
  <!-- Comment Form -->
  <div class="comment-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Add a comment</mat-label>
      <textarea matInput
                [formControl]="commentCtrl"
                placeholder="Write your comment here..."
                rows="2"></textarea>
      <button mat-icon-button matSuffix
              [disabled]="!commentCtrl.valid"
              (click)="onSubmitComment()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Comments List -->
  <div class="comments-list">
    <div *ngFor="let comment of comments.data" class="comment-item">
      <div class="comment-header">
        <div class="user-info">
          <div class="avatar-container">
            <svg class="avatar-svg" viewBox="0 0 24 24">
              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
            </svg>
          </div>
          <div class="user-details">
            <span class="username">{{comment.username}}</span>
            <span class="timestamp">{{formatDate(comment.createdAt)}}</span>
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>user</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>

      <div class="comment-content">
        {{comment.content}}
      </div>

    </div>
  </div>

  <!-- Pagination -->
  <mat-paginator
    [length]="comments.total || 0"
    [pageSize]="comments.pageSize"
    [pageIndex]="comments.pageIndex - 1"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageEvent($event)"
    aria-label="Select page" />
</div>
