@if (showHeader) {
  <div class="matero-sidebar-header">
    <mat-toolbar>
      <app-branding [showName]="!toggleChecked" />

      <span class="flex-fill"></span>

      @if (showToggle) {
        <mat-slide-toggle hideIcon [checked]="toggleChecked" (change)="toggleCollapsed.emit()" />
      } @else {
        <button mat-icon-button (click)="closeSidenav.emit()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-toolbar>
  </div>
}

<div class="matero-sidebar-main">
  @if (showUser) {
    <app-user-panel />
  }
  <mat-accordion>
    <mat-expansion-panel
    *ngFor="let item of menuList; index as i;"
    (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-uppercase"> {{item.name}}</mat-panel-title>
      </mat-expansion-panel-header>
      <a [routerLink]="child.route" class="item-child text-uppercase" *ngFor="let child of item.children; index as i;">{{child.name}}</a>
    </mat-expansion-panel>
</mat-accordion>
</div>
