<div class="item-box">
  <div class="product-item" data-productid="94">
    <div class="product_tag">
      <img src="/images/uploaded/icon/giam-500.png" alt="" />
    </div>
    <div class="picture">
      <a
        href="/macbook-air-m1-2020"
        title="Hiển thị chi tiết cho MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
      >
        <img
          alt="Ảnh của MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
          src="https://shopdunk.com/images/thumbs/0000723_macbook-air-m1-2020-8gb-ram-256gb-ssd_240.png"
          title="Hiển thị chi tiết cho MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
        />
      </a>
    </div>
    <div class="details">
      <h3 class="product-title">
        <a href="/macbook-air-m1-2020">MacBook Air M1 2020 (8GB RAM | 256GB SSD)</a>
      </h3>
      <div class="description">
        <hr />
        <div
          style="
            position: sticky;
            top: 5px;
            right: 10px;
            background-color: #f0f0f0;
            padding: 5px 5px 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            color: #333;
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
            text-align: left;
          "
        >
          <span style="color: #000"
            >( Khuyến mãi dự kiến áp dụng <strong>đến 23h59 | 31/10/2024</strong> )</span
          >
        </div>
        <hr />
        <div style="display: flex">
          <div
            class="event"
            style="
              cursor: pointer;
              border: 1px solid #f4f4f4;
              border-radius: 5px;
              margin: 5px 0;
              padding: 8px;
              background: linear-gradient(90deg, #f64850, #fb810b);
              text-align: center;
              flex-grow: 2;
              margin-right: 10px;
              color: #fff;
              display: flex;
              flex-direction: column;
              justify-items: center;
              justify-content: center;
            "
          >
            <div class="eventPrice" data-extra="0" data-rate="0" data-val="">
              Ưu đãi thanh toán qua QR-ZALOPAY, giảm thêm
            </div>
            <div class="eventValue" style="font-weight: bold; font-size: 23px">500,000 ₫</div>
            <div class="eventValue" data-extra="0" data-rate="0" data-val="">
              (SL có hạn. Không áp dụng cùng CTKM Chào Tân Sinh Viên)
            </div>
          </div>
        </div>
        <hr />
        <p><strong style="color: #e03e2d">I. Ưu đãi thanh toán</strong></p>
        <p style="line-height: 2" data-toggle="modal" data-target="#myModal2">
          <span style="color: #000"
            ><strong
              ><img
                src="/images/uploaded/tích tròn (1).jpg"
                alt=""
                width="16"
                height="17"
              /> </strong
            >Chào Tân Sinh Viên giảm ngay <strong>500.000đ </strong
            ><span style="font-size: 9pt"
              >(Cho khách hàng là HS-SV hoặc dưới 23 tuổi. Không áp dụng trả góp qua cty tài
              chính)</span
            ></span
          >
        </p>
        <p style="line-height: 2" data-toggle="modal" data-target="#myModal2">
          <span style="color: #000"
            ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="17" height="17" /> Giảm đến
            <strong>200.000đ</strong> khi thanh toán qua Kredivo</span
          >
        </p>
        <hr />
        <p style="line-height: 2">
          <span style="color: #e03e2d"><strong>II. Ưu đãi mua kèm</strong></span>
        </p>
        <p>
          <span style="color: #000"
            ><strong
              ><img
                src="/images/uploaded/tích tròn (1).jpg"
                alt=""
                width="16"
                height="17"
              /> </strong
            >Giảm&nbsp;<strong>1.000.000đ </strong>khi mua kèm<strong>
              Máy In Laser Brother (1/10 - 30/11)</strong
            ></span
          >
        </p>
        <p>
          <span style="color: #000"
            ><strong
              ><img
                src="/images/uploaded/tích tròn (1).jpg"
                alt=""
                width="16"
                height="17"
              /> </strong
            >Tai nghe <strong>Sony </strong>giảm <strong>15%</strong> tối đa
            <strong>1.000.000đ</strong></span
          >
        </p>
        <p>
          <span style="color: #000; font-size: 9pt"
            >&nbsp;( Áp dụng các mẫu
            <span style="font-weight: 400">WF1000XM4, WH-CH520, WH1000XM5, WHULT900N)</span></span
          >
        </p>
        <p>
          <span style="color: #000"
            ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" /> Mua
            <strong>3 phụ kiện Non-Apple</strong> giảm <strong>100.000đ</strong></span
          >
        </p>
        <p>
          <span style="color: #000"
            ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" /> Mua
            <strong>4 phụ kiện Non-Apple</strong> giảm <strong>150.000đ</strong></span
          >
        </p>
        <p>
          <span style="color: #000"
            ><strong
              ><img
                src="/images/uploaded/tích tròn (1).jpg"
                alt=""
                width="16"
                height="17"
              /> </strong
            >Mua<strong> 5 phụ kiện Non-Apple </strong>trở lên<strong> </strong>giảm<strong>
              200.000đ</strong
            ></span
          >
        </p>
        <p style="line-height: 2">
          <span style="color: #000"
            ><strong
              ><span style="color: #e03e2d"
                ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17"
              /></span> </strong
            >Giảm thêm <strong>200.000đ </strong>khi mua kèm gói
            <span style="color: #007edb"
              ><a style="color: #007edb" href="https://dichvu.shopdunk.com/microsoft-office"
                >Microsoft Office 365 Personal /Office Home and Student</a
              ></span
            ></span
          >
        </p>
        <p style="line-height: 2">
          <span style="color: #000"
            ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" /> Giảm đến
            <strong>20%</strong> khi mua
            <span style="color: #3598db"
              ><a style="color: #3598db" href="https://shopdunk.com/chinh-sach-bao-hanh"
                >Bảo hành kim cương,&nbsp; Bảo hành VIP (Rơi vỡ, vào nước) , Bảo hành mở rộng.</a
              ></span
            ></span
          >
        </p>
        <hr />
      </div>
      <div class="add-info">
        <div class="prices">
          <div class="price-ratio-container"><span class="price price-ratio">-37%</span></div>
          <span class="price old-price">28.990.000₫</span>
          <span class="price actual-price">18.250.000₫</span>
        </div>
        <div class="buttons">
          <button type="button" class="button-2 product-box-add-to-cart-button">Mua ngay</button>
          <button
            type="button"
            class="button-2 add-to-wishlist-button"
            title="Thêm vào danh sách yêu thích"
          >
            Thêm vào danh sách yêu thích
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
