<div class="page product-details-page">
  <div class="page-body">
    <form method="post" id="product-details-form" action="/macbook-air-m3-13-inch">
      <div itemscope="" itemtype="http://schema.org/Product">
        <meta itemprop="name" content="MacBook Air M3 13 inch" /><meta itemprop="sku" /><meta
          itemprop="gtin"
        /><meta itemprop="mpn" /><meta
          name="description"
          content="Chip M3 mang đến năng lực tuyệt vời cho chiếc MacBook Air 13 inch siêu gọn nhẹ này. Với thời lượng pin lên đến 18 giờ, bạn có thể mang theo chiếc máy tính này đi bất cứ nơi đâu và nhanh chóng hoàn thành mọi tác vụ từ công việc đến giải trí."
        /><meta
          itemprop="image"
          content="https://shopdunk.com/images/thumbs/0024432_macbook-air-m3-13-inch_550.jpeg"
        />
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <meta itemprop="url" content="https://shopdunk.com/macbook-air-m3-13-inch" /><meta
            itemprop="price"
            content="26790000.00"
          /><meta itemprop="priceCurrency" content="VND" /><meta itemprop="priceValidUntil" /><meta
            itemprop="availability"
            content="http://schema.org/InStock"
          />
        </div>
      </div>
      <div data-productid="3216">
        <div class="product-essential" style="position: relative">
          <div class="ajax-products-busy" style="display: none"></div>
          <div id="detail-picture-3216" class="gallery_sticky">
            <div class="gallery">
              <div class="picture">
                <a
                  href="https://shopdunk.com/images/thumbs/0024433_midnight.jpeg"
                  title="Ảnh của MacBook Air M3 13 inch"
                  id="main-product-img-lightbox-anchor-3216"
                >
                  <img
                    alt="media.productreivew.imagealternatetextformat"
                    [src]="baseImage + product.image[0].url"
                    title="Ảnh của MacBook Air M3 13 inch"
                    id="main-product-img-3216"
                  />
                </a>
              </div>

              <div class="background">
                <div class="thumb-video" style="display: none" id="thumb-video-popup-detail">
                  <div class="check_close">
                    <i class="eicon-close"></i>
                  </div>
                  <div class="video-container">
                    <iframe
                      src=""
                      width="560"
                      height="315"
                      frameborder="0"
                      allowfullscreen="allowfullscreen"
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overview" style="margin-bottom: 0"></div>
          <div class="overview">
            <div class="wrapper-info">
              <div class="product-name">
                <h1>
                  <span class="main-name">{{product.name}}</span>
                  <span class="product-name-variant"></span>
                </h1>
              </div>
              <div class="all-content_review d-flex justify-content-between">
                <div class="d-flex">
                  <div class="overview-buttons">
                    <div class="add-to-wishlist">
                      <button
                        type="button"
                        id="add-to-wishlist-button-3216"
                        class="button-2 add-to-wishlist-button"
                        data-productid="3216"
                      >
                        Thêm vào danh sách yêu thích
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="storelocation-all">
              <select
                class="storelocation-ddl showing-condition-4187"
                data-attr="4187"
                name="product_attribute_4187"
                id="product_attribute_4187"
                style="display: none"
              >
                <option value="0">Vui lòng chọn</option>
                <option data-attr-value="10099" selected="" value="10099">Khu vực miền Bắc</option>
                <option data-attr-value="10100" value="10100">Khu vực miền Nam</option>
              </select>
            </div>
            <div
              class="prices"
              itemprop="offers"
              itemtype="https://schema.org/AggregateOffer"
              itemscope=""
            >
              <div
                style="display: flex"
                itemprop="offers"
                itemtype="https://schema.org/AggregateOffer"
                itemscope=""
              >
                <div class="product-price">
                  <span id="price-value-3216" class="new-price price-value-3216">{{product.priceFromTo}}₫</span
                  ><meta itemprop="lowPrice" content="26.790.000₫" /><meta
                    itemprop="priceCurrency"
                    content="VND"
                  />
                </div>
                <!-- <div class="old-product-price">
                  <span id="old-price-val">27.990.000₫</span
                  ><meta itemprop="highPrice" content="27.990.000₫" />
                </div> -->
                <input type="hidden" id="tis-product-price" [value]="product.priceFromTo" />
              </div>
            </div>
            <div class="note_VAT">(Đã bao gồm VAT)</div>
            <div class="option-list">
              <div  *ngFor="let item of product?.options; index as i;" (click)="setProductSelect(item.id)" class="option-item" [ngClass]="{'active': item.id === productSelected}">
              <p>{{item.name}} - {{item.configuration}}</p>
              <p class="money"> {{item.price}}đ</p>
              </div>

            </div>
            <div id="cart-button-origin"></div>
            <div class="product-detail-action-button sticked" id="cart-button-prd">
              <div class="first-add-to-cart">
                <div class="add-to-cart">
                  <div class="add-to-cart-panel">
                    <label class="qty-label" for="addtocart_3216_EnteredQuantity">Số lượng:</label>
                    <input
                      id="product_enteredQuantity_3216"
                      class="qty-input"
                      type="text"
                      aria-label="Nhập số lượng"
                      data-val="true"
                      data-val-required="The Số lượng field is required."
                      name="addtocart_3216.EnteredQuantity"
                      value="1"
                    />
                    <button
                      type="button"
                      id="add-to-cart-button-3216"
                      class="button-1 add-to-cart-button once-submit-button"
                      data-productid="3216"
                      data-gtm-vis-recent-on-screen39352494_325="1791"
                      data-gtm-vis-first-on-screen39352494_325="1791"
                      data-gtm-vis-total-visible-time39352494_325="100"
                      data-gtm-vis-has-fired39352494_325="1"
                    >
                      Mua ngay
                    </button>
                  </div>
                </div>
              </div>
              <div class="add-to-cart subcribe d-none">
                <button
                  type="button"
                  id="subcribe-button-3216"
                  class="button-1 add-to-cart-button subcribe-button"
                >
                  Đăng ký nhận tin
                </button>
              </div>
              <div class="all-btn_buttom">
                <p (click)="handleAddToCart()" href="tra-gop/macbook-air-m3-13-inch" class="btn_buttom w-full">Thêm vào giỏ hàng</p>
              </div>
            </div>
            <div class="product-policy">
              <div class="prd-policy">
                <ul class="elementor-icon-list-items">
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Bộ sản phẩm gồm: Hộp, Sách hướng dẫn, Máy MacBook, Cáp, Bộ Tiếp Hợp
                      Nguồn</span
                    >
                  </li>
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Bảo hành chính hãng 1 năm
                    </span>
                  </li>
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text">
                      Giao hàng nhanh toàn quốc
                    </span>
                  </li>
                  <li>
                    Hoàn thuế cho người nước ngoài &nbsp;
                  </li>
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Gọi đặt mua&nbsp;<a href="tel:19006626"
                        ><span style="color: #007edb"><strong>1900.6626</strong></span></a
                      >
                      (8:00 - 22:00)</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <span class="value" id="sku-3216" style="display: none !important">MRXV3SA/A</span
            ><meta itemprop="sku" />
            <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope="">
              <meta itemprop="name" content="Apple" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
