.option-list {
  margin-top:12px;
  margin-bottom:12px;
  max-height: 200px;
  overflow: auto;
}

.option-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.option-item.active {
  border:2px solid #06C;
}

.money{
  margin-top:3px;
  color: #06C;
  font-weight: 600;
}


.snackbar-container {
  margin-top: 70px !important;
  color: beige;
  &.error {
    background-color: #c62828 !important;
  }
  &.success {
    background-color: #2e7d32 !important;
  }

  &.warning {
    background-color: #ff8f00 !important;
  }
}

.snackbar-container.success {
  background-color: #2e7d32 !important;
}
