<div class="page product-details-page">
  <div class="page-body">
    <form method="post" id="product-details-form" action="/macbook-air-m3-13-inch">
      <div itemscope="" itemtype="http://schema.org/Product">
        <meta itemprop="name" content="MacBook Air M3 13 inch" /><meta itemprop="sku" /><meta
          itemprop="gtin"
        /><meta itemprop="mpn" /><meta
          name="description"
          content="Chip M3 mang đến năng lực tuyệt vời cho chiếc MacBook Air 13 inch siêu gọn nhẹ này. Với thời lượng pin lên đến 18 giờ, bạn có thể mang theo chiếc máy tính này đi bất cứ nơi đâu và nhanh chóng hoàn thành mọi tác vụ từ công việc đến giải trí."
        /><meta
          itemprop="image"
          content="https://shopdunk.com/images/thumbs/0024432_macbook-air-m3-13-inch_550.jpeg"
        />
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <meta itemprop="url" content="https://shopdunk.com/macbook-air-m3-13-inch" /><meta
            itemprop="price"
            content="26790000.00"
          /><meta itemprop="priceCurrency" content="VND" /><meta itemprop="priceValidUntil" /><meta
            itemprop="availability"
            content="http://schema.org/InStock"
          />
        </div>
      </div>
      <div data-productid="3216">
        <div class="product-essential" style="position: relative">
          <div class="ajax-products-busy" style="display: none"></div>
          <div id="detail-picture-3216" class="gallery_sticky">
            <div class="gallery">
              <div class="picture">
                <a
                  href="https://shopdunk.com/images/thumbs/0024433_midnight.jpeg"
                  title="Ảnh của MacBook Air M3 13 inch"
                  id="main-product-img-lightbox-anchor-3216"
                >
                  <img
                    alt="media.productreivew.imagealternatetextformat"
                    src="https://shopdunk.com/images/thumbs/0024433_midnight_550.jpeg"
                    title="Ảnh của MacBook Air M3 13 inch"
                    id="main-product-img-3216"
                  />
                </a>
                <script>
                  $(document).ready(function () {
                    $('#main-product-img-lightbox-anchor-3216').magnificPopup({ type: 'image' });
                  });
                </script>
              </div>

              <div class="background">
                <div class="thumb-video" style="display: none" id="thumb-video-popup-detail">
                  <div class="check_close">
                    <i class="eicon-close"></i>
                  </div>
                  <div class="video-container">
                    <iframe
                      src=""
                      width="560"
                      height="315"
                      frameborder="0"
                      allowfullscreen="allowfullscreen"
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overview" style="margin-bottom: 0"></div>
          <div class="overview">
            <div class="wrapper-info">
              <div class="product-name">
                <h1>
                  <span class="main-name">MacBook Air M3 13 inch</span>
                  <span class="product-name-variant"></span>
                </h1>
              </div>
              <div class="all-content_review d-flex justify-content-between">
                <div class="d-flex">
                  <div class="product-reviews-overview">
                    <div class="product-review-box">
                      <div class="rating"><div style="width: 0%"></div></div>
                    </div>
                    <div class="product-no-reviews">
                      <a href="#scroll_product-reviews">Đánh giá</a>
                    </div>
                  </div>
                  <div class="overview-buttons">
                    <div class="add-to-wishlist">
                      <button
                        type="button"
                        id="add-to-wishlist-button-3216"
                        class="button-2 add-to-wishlist-button"
                        data-productid="3216"
                        onclick='return AjaxCart.addproducttocart_details("/addproducttocart/details/3216/2","#product-details-form"),!1'
                      >
                        Thêm vào danh sách yêu thích
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="storelocation-all">
              <select
                class="storelocation-ddl showing-condition-4187"
                data-attr="4187"
                name="product_attribute_4187"
                id="product_attribute_4187"
                style="display: none"
              >
                <option value="0">Vui lòng chọn</option>
                <option data-attr-value="10099" selected="" value="10099">Khu vực miền Bắc</option>
                <option data-attr-value="10100" value="10100">Khu vực miền Nam</option>
              </select>
            </div>
            <div
              class="prices"
              itemprop="offers"
              itemtype="https://schema.org/AggregateOffer"
              itemscope=""
            >
              <div
                style="display: flex"
                itemprop="offers"
                itemtype="https://schema.org/AggregateOffer"
                itemscope=""
              >
                <div class="product-price">
                  <span id="price-value-3216" class="new-price price-value-3216">26.790.000₫</span
                  ><meta itemprop="lowPrice" content="26.790.000₫" /><meta
                    itemprop="priceCurrency"
                    content="VND"
                  />
                </div>
                <div class="old-product-price">
                  <span id="old-price-val">27.990.000₫</span
                  ><meta itemprop="highPrice" content="27.990.000₫" />
                </div>
                <input type="hidden" id="tis-product-price" value="26790000,0000" />
              </div>
            </div>
            <div class="note_VAT">(Đã bao gồm VAT)</div>
            <div class="attributes">
              <dl>
                <dt id="product_attribute_label_4079">
                  <label class="text-prompt" for="label_val_4079"> Màu sắc </label>
                  <span class="label-value" id="label_val_4079">Midnight</span>
                </dt>
                <dd id="product_attribute_input_4079">
                  <ul
                    data-attr="4079"
                    class="option-list attribute-squares color-squares darkcontrols"
                    id="color-squares-4079"
                  >
                    <li data-attr-value="9778" class="selected-value">
                      <label for="product_attribute_4079_9778">
                        <span class="attribute-square-container" title="Midnight">
                          <a title="Ảnh của MacBook Air M3 13 inch">
                            <span
                              class="attribute-square"
                              title="Midnight"
                              style="background-color: #0d1738"
                              >&nbsp;</span
                            >
                          </a>
                        </span>
                        <input
                          id="product_attribute_4079_9778"
                          type="radio"
                          name="product_attribute_4079"
                          value="9778"
                          checked=""
                          onclick='showHideRadioQuantity(null,"Midnight")'
                        />
                      </label>
                      <div class="tooltip-container">
                        <div class="not-available-text">Không có sẵn</div>
                      </div>
                    </li>
                    <li data-attr-value="9779">
                      <label for="product_attribute_4079_9779">
                        <span class="attribute-square-container" title="Silver">
                          <a title="Ảnh của MacBook Air M3 13 inch">
                            <span
                              class="attribute-square"
                              title="Silver"
                              style="background-color: #afafaf"
                              >&nbsp;</span
                            >
                          </a>
                        </span>
                        <input
                          id="product_attribute_4079_9779"
                          type="radio"
                          name="product_attribute_4079"
                          value="9779"
                          onclick='showHideRadioQuantity(null,"Silver")'
                        />
                      </label>
                      <div class="tooltip-container">
                        <div class="not-available-text">Không có sẵn</div>
                      </div>
                    </li>
                    <li data-attr-value="9780">
                      <label for="product_attribute_4079_9780">
                        <span class="attribute-square-container" title="Space Gray">
                          <a title="Ảnh của MacBook Air M3 13 inch">
                            <span
                              class="attribute-square"
                              title="Space Gray"
                              style="background-color: #565656"
                              >&nbsp;</span
                            >
                          </a>
                        </span>
                        <input
                          id="product_attribute_4079_9780"
                          type="radio"
                          name="product_attribute_4079"
                          value="9780"
                          onclick='showHideRadioQuantity(null,"Space Gray")'
                        />
                      </label>
                      <div class="tooltip-container">
                        <div class="not-available-text">Không có sẵn</div>
                      </div>
                    </li>
                    <li data-attr-value="9781">
                      <label for="product_attribute_4079_9781">
                        <span class="attribute-square-container" title="Starlight">
                          <a title="Ảnh của MacBook Air M3 13 inch">
                            <span
                              class="attribute-square"
                              title="Starlight"
                              style="background-color: #ebdeb5"
                              >&nbsp;</span
                            >
                          </a>
                        </span>
                        <input
                          id="product_attribute_4079_9781"
                          type="radio"
                          name="product_attribute_4079"
                          value="9781"
                          onclick='showHideRadioQuantity(null,"Starlight")'
                        />
                      </label>
                      <div class="tooltip-container">
                        <div class="not-available-text">Không có sẵn</div>
                      </div>
                    </li>
                  </ul>
                </dd>
                <dt id="product_attribute_label_4161">
                  <label class="text-prompt" for=""> Dung lượng </label>
                  <span class="label-value" id="label_val_4161">256GB</span>
                </dt>
                <dd id="product_attribute_input_4161">
                  <ul data-attr="4161" class="option-list darkcontrols">
                    <li data-attr-value="10032">
                      <input
                        id="product_attribute_4161_10032"
                        type="radio"
                        name="product_attribute_4161"
                        value="10032"
                        checked=""
                      />
                      <label for="product_attribute_4161_10032">256GB</label>
                    </li>
                    <li data-attr-value="10033">
                      <input
                        id="product_attribute_4161_10033"
                        type="radio"
                        name="product_attribute_4161"
                        value="10033"
                      />
                      <label for="product_attribute_4161_10033">512GB</label>
                    </li>
                  </ul>
                </dd>
                <dt id="product_attribute_label_4162">
                  <label class="text-prompt" for=""> RAM </label>
                  <span class="label-value" id="label_val_4162">8GB</span>
                </dt>
                <dd id="product_attribute_input_4162">
                  <ul data-attr="4162" class="option-list darkcontrols">
                    <li data-attr-value="10036">
                      <input
                        id="product_attribute_4162_10036"
                        type="radio"
                        name="product_attribute_4162"
                        value="10036"
                        checked=""
                      />
                      <label for="product_attribute_4162_10036">8GB</label>
                    </li>
                    <li data-attr-value="10428">
                      <input
                        id="product_attribute_4162_10428"
                        type="radio"
                        name="product_attribute_4162"
                        value="10428"
                      />
                      <label for="product_attribute_4162_10428">16GB</label>
                    </li>
                  </ul>
                </dd>
                <dt id="product_attribute_label_4163" style="display: none">
                  <label class="text-prompt" for=""> RAM. </label>
                  <span class="label-value" id="label_val_4163">8GB</span>
                </dt>
                <dd id="product_attribute_input_4163" style="display: none">
                  <ul data-attr="4163" class="option-list darkcontrols">
                    <li data-attr-value="10041">
                      <input
                        id="product_attribute_4163_10041"
                        type="radio"
                        name="product_attribute_4163"
                        value="10041"
                        checked=""
                      />
                      <label for="product_attribute_4163_10041">8GB</label>
                    </li>
                    <li data-attr-value="10040">
                      <input
                        id="product_attribute_4163_10040"
                        type="radio"
                        name="product_attribute_4163"
                        value="10040"
                      />
                      <label for="product_attribute_4163_10040">16GB</label>
                    </li>
                  </ul>
                </dd>
                <dt id="product_attribute_label_4187" class="tt_promotion" style="display: none">
                  <label class="text-prompt" for=""> Khu vực </label>
                  <span class="label-value" id="label_val_4187">Khu vực miền Bắc</span>
                </dt>
                <dd id="product_attribute_input_4187" style="display: none"></dd>
              </dl>
            </div>
            <!-- <div class="short-des">
              <p class="title ud_mo">Ưu đãi</p>
              <div class="short-description">
                <hr />
                <div
                  style="
                    position: sticky;
                    top: 5px;
                    right: 10px;
                    background-color: #f0f0f0;
                    padding: 5px 5px 5px 10px;
                    border-radius: 5px;
                    font-size: 12px;
                    color: #333;
                    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
                    text-align: left;
                  "
                >
                  <span style="color: #000"
                    >( Khuyến mãi dự kiến áp dụng <strong>đến 23h59 | 31/10/2024</strong> )</span
                  >
                </div>
                <hr />
                <div style="display: flex">
                  <div
                    class="event"
                    style="
                      cursor: pointer;
                      border: 1px solid #f4f4f4;
                      border-radius: 5px;
                      margin: 5px 0;
                      padding: 8px;
                      background: linear-gradient(90deg, #f64850, #fb810b);
                      text-align: center;
                      flex-grow: 2;
                      margin-right: 10px;
                      color: #fff;
                      display: flex;
                      flex-direction: column;
                      justify-items: center;
                      justify-content: center;
                    "
                  >
                    <div class="eventPrice" data-extra="0" data-rate="0" data-val="">
                      Ưu đãi thanh toán qua QR-ZALOPAY, giảm thêm
                    </div>
                    <div class="eventValue" style="font-weight: bold; font-size: 23px">
                      500,000 ₫
                    </div>
                    <div class="eventValue" data-extra="0" data-rate="0" data-val="">
                      (SL có hạn)
                    </div>
                  </div>
                </div>
                <hr />
                <p><strong style="color: #e03e2d">I. Ưu đãi thanh toán</strong></p>
                <p style="line-height: 2" data-toggle="modal" data-target="#myModal2">
                  <span style="color: #000"
                    ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="17" height="17" />
                    Giảm đến <strong>200.000đ</strong> khi thanh toán qua Kredivo</span
                  >
                </p>
                <hr />
                <p style="line-height: 2">
                  <span style="color: #e03e2d"><strong>II. Ưu đãi mua kèm</strong></span>
                </p>
                <p>
                  <span style="color: #000"
                    ><strong
                      ><img
                        src="/images/uploaded/tích tròn (1).jpg"
                        alt=""
                        width="16"
                        height="17"
                      /> </strong
                    >Tai nghe <strong>Sony </strong>giảm <strong>15%</strong> tối đa
                    <strong>1.000.000đ</strong></span
                  >
                </p>
                <p>
                  <span style="color: #000; font-size: 9pt"
                    >&nbsp;( Áp dụng các mẫu
                    <span style="font-weight: 400"
                      >WF1000XM4, WH-CH520, WH1000XM5, WHULT900N)</span
                    ></span
                  >
                </p>
                <p>
                  <span style="color: #000"
                    ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" />
                    Mua <strong>3 phụ kiện Non-Apple</strong> giảm <strong>100.000đ</strong></span
                  >
                </p>
                <p>
                  <span style="color: #000"
                    ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" />
                    Mua <strong>4 phụ kiện Non-Apple</strong> giảm <strong>150.000đ</strong></span
                  >
                </p>
                <p>
                  <span style="color: #000"
                    ><strong
                      ><img
                        src="/images/uploaded/tích tròn (1).jpg"
                        alt=""
                        width="16"
                        height="17"
                      /> </strong
                    >Mua<strong> 5 phụ kiện Non-Apple </strong>trở lên<strong> </strong>giảm<strong>
                      200.000đ</strong
                    ></span
                  >
                </p>
                <p style="line-height: 2">
                  <span style="color: #000"
                    ><strong
                      ><span style="color: #e03e2d"
                        ><img
                          src="/images/uploaded/tích tròn (1).jpg"
                          alt=""
                          width="16"
                          height="17"
                      /></span> </strong
                    >Giảm thêm <strong>200.000đ </strong>khi mua kèm gói
                    <span style="color: #007edb"
                      ><a style="color: #007edb" href="https://dichvu.shopdunk.com/microsoft-office"
                        >Microsoft Office 365 Personal /Office Home and Student</a
                      ></span
                    ></span
                  >
                </p>
                <p style="line-height: 2">
                  <span style="color: #000"
                    ><img src="/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" />
                    Giảm đến <strong>20%</strong> khi mua
                    <span style="color: #3598db"
                      ><a style="color: #3598db" href="https://shopdunk.com/chinh-sach-bao-hanh"
                        >Bảo hành kim cương,&nbsp; Bảo hành VIP (Rơi vỡ, vào nước) , Bảo hành mở
                        rộng.</a
                      ></span
                    ></span
                  >
                </p>
                <hr />
              </div>
            </div> -->
            <div id="cart-button-origin"></div>
            <div class="product-detail-action-button sticked" id="cart-button-prd">
              <div class="first-add-to-cart">
                <div class="add-to-cart">
                  <div class="add-to-cart-panel">
                    <label class="qty-label" for="addtocart_3216_EnteredQuantity">Số lượng:</label>
                    <input
                      id="product_enteredQuantity_3216"
                      class="qty-input"
                      type="text"
                      aria-label="Nhập số lượng"
                      data-val="true"
                      data-val-required="The Số lượng field is required."
                      name="addtocart_3216.EnteredQuantity"
                      value="1"
                    />
                    <button
                      type="button"
                      id="add-to-cart-button-3216"
                      class="button-1 add-to-cart-button once-submit-button"
                      data-productid="3216"
                      onclick='return AjaxCart.addproducttocart_details("/addproducttocart/details/3216/1","#product-details-form"),!1'
                      data-gtm-vis-recent-on-screen39352494_325="1791"
                      data-gtm-vis-first-on-screen39352494_325="1791"
                      data-gtm-vis-total-visible-time39352494_325="100"
                      data-gtm-vis-has-fired39352494_325="1"
                    >
                      Mua ngay
                    </button>
                  </div>
                </div>
              </div>
              <div class="add-to-cart subcribe d-none">
                <button
                  type="button"
                  id="subcribe-button-3216"
                  class="button-1 add-to-cart-button subcribe-button"
                >
                  Đăng ký nhận tin
                </button>
              </div>
              <div class="all-btn_buttom">
                <a href="tra-gop/macbook-air-m3-13-inch" class="btn_buttom">Trả góp</a>
                <a href="/thu-cu-doi-moi" class="btn_buttom thucu once-submit-button"
                  >Thu cũ đổi mới</a
                >
              </div>
              <div class="all-btn-sticked" style="display: none">
                <a href="tra-gop/macbook-air-m3-13-inch" class="btn_buttom">Trả góp</a>
                <a href="/thu-cu-doi-moi" class="btn_buttom thucu once-submit-button"
                  >Thu cũ đổi mới</a
                >
                <div class="second-add-to-cart">
                  <div class="add-to-cart">
                    <div class="add-to-cart-panel">
                      <label class="qty-label" for="addtocart_3216_EnteredQuantity"
                        >Số lượng:</label
                      >
                      <input
                        id="product_enteredQuantity_3216"
                        class="qty-input"
                        type="text"
                        aria-label="Nhập số lượng"
                        name="addtocart_3216.EnteredQuantity"
                        value="1"
                      />
                      <button
                        type="button"
                        id="add-to-cart-button-3216"
                        class="button-1 add-to-cart-button once-submit-button"
                        data-productid="3216"
                        onclick='return AjaxCart.addproducttocart_details("/addproducttocart/details/3216/1","#product-details-form"),!1'
                        data-gtm-vis-has-fired39352494_325="1"
                      >
                        Mua ngay
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-policy">
              <div class="prd-policy">
                <ul class="elementor-icon-list-items">
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Bộ sản phẩm gồm: Hộp, Sách hướng dẫn, Máy MacBook, Cáp, Bộ Tiếp Hợp
                      Nguồn</span
                    >
                  </li>
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Bảo hành chính hãng 1 năm
                      <span style="color: #007edb"
                        ><a style="color: #007edb" href="https://shopdunk.com/chinh-sach-bao-hanh"
                          ><strong>(chi tiết)</strong></a
                        ></span
                      ></span
                    >
                  </li>
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Giao hàng nhanh toàn quốc
                      <span style="color: #007edb"
                        ><a style="color: #007edb" href="https://shopdunk.com/chinh-sach-ship-cod"
                          ><strong>(chi tiết)</strong></a
                        ></span
                      ></span
                    >
                  </li>
                  <li>
                    Hoàn thuế cho người nước ngoài &nbsp;<span style="color: #007edb"
                      ><strong
                        ><a
                          style="color: #007edb"
                          href="https://shopdunk.com/shopdunk-ban-hang-hoan-thue-gtgt-cho-nguoi-nuoc-ngoai"
                          >(chi tiết)</a
                        ></strong
                      ></span
                    >
                  </li>
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-text"
                      >Gọi đặt mua&nbsp;<a href="tel:19006626"
                        ><span style="color: #007edb"><strong>1900.6626</strong></span></a
                      >
                      (8:00 - 22:00)</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <span class="value" id="sku-3216" style="display: none !important">MRXV3SA/A</span
            ><meta itemprop="sku" />
            <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope="">
              <meta itemprop="name" content="Apple" />
            </div>
          </div>
        </div>
        <!-- <div class="title-combo-detail">Mua kèm giá sốc</div>
        <div class="all_cross-sells prd-detail" id="combo-detail">
          <div class="bunbled">
            <div class="img-sp">
              <img
                src="https://shopdunk.com/images/thumbs/0024432_macbook-air-m3-13-inch.jpeg"
                alt="Shopdunk"
              />
            </div>
            <h3>MacBook Air M3 13 inch</h3>
            <div class="prices">
              <div class="product-price">
                <span id="product-crossell-price-value" class="new-price price-value-3216"
                  >26.790.000₫</span
                >
              </div>
              <div class="old-product-price">
                <span id="old-price-val">27.990.000₫</span>
                <span class="price price-ratio">-4%</span>
              </div>
            </div>
          </div>
          <div class="plus"></div>
          <div class="product-grid cross-sells">
            <div class="item-grid slick-initialized slick-slider">
              <div class="slick-list draggable">
                <div
                  class="slick-track"
                  style="opacity: 1; width: 777px; transform: translate3d(0px, 0px, 0px)"
                >
                  <div
                    class="slick-slide slick-current slick-active"
                    data-slick-index="0"
                    aria-hidden="false"
                    style="width: 239px"
                  >
                    <div>
                      <div
                        class="item-box"
                        style="width: 100%; display: inline-block; height: 379.4px"
                      >
                        <div class="product-item" data-productid="2581">
                          <input
                            type="checkbox"
                            id="2581"
                            name="product-cross"
                            value="0"
                            class="item-checkbox"
                            hidden=""
                            tabindex="0"
                          />
                          <div class="picture">
                            <a
                              href="/sac-mophie-pd-67w-gan"
                              title="Hiển thị chi tiết cho Sạc mophie PD 67W GaN"
                              tabindex="0"
                            >
                              <img
                                alt="Ảnh của Sạc mophie PD 67W GaN"
                                src="https://shopdunk.com/images/thumbs/0015698_sac-mophie-pd-67w-gan_240.webp"
                                title="Hiển thị chi tiết cho Sạc mophie PD 67W GaN"
                              />
                            </a>
                          </div>
                          <div class="details">
                            <h3>
                              <span class="product-title">
                                <a href="/sac-mophie-pd-67w-gan" tabindex="0"
                                  >Sạc mophie PD 67W GaN</a
                                >
                              </span>
                            </h3>
                            <div class="product-rating-box" title="0 bài đánh giá">
                              <div class="rating"><div style="width: 0%"></div></div>
                            </div>
                            <div class="description"></div>
                            <div class="add-info">
                              <div class="prices">
                                <span class="price actual-price"
                                  ><p>Giá niêm yết:</p>
                                  1.400.000₫</span
                                >
                                <input
                                  type="hidden"
                                  id="detail_price"
                                  value="1.400.000₫"
                                  tabindex="0"
                                />
                              </div>
                              <div class="append_price_percent"></div>
                              <div class="buttons">
                                <button
                                  type="button"
                                  class="button-2 product-box-add-to-cart-button"
                                  onclick='return AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/2581/1/1?forceredirection=True"),!1'
                                  tabindex="0"
                                >
                                  Mua ngay
                                </button>
                                <button
                                  type="button"
                                  class="button-2 add-to-wishlist-button"
                                  title="Thêm vào danh sách yêu thích"
                                  onclick='return AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/2581/2/1"),!1'
                                  tabindex="0"
                                >
                                  Thêm vào danh sách yêu thích
                                </button>
                              </div>
                            </div>
                            <i class="item-checkbox fa-regular fa-square"></i>
                          </div>
                        </div>
                        <button class="button__handle-select" tabindex="0">Chọn sản phẩm</button>
                        <input
                          type="hidden"
                          id="product-crossell-price-discount"
                          value="790000"
                          tabindex="0"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="slick-slide slick-active"
                    data-slick-index="1"
                    aria-hidden="false"
                    style="width: 239px"
                  >
                    <div>
                      <div
                        class="item-box"
                        style="width: 100%; display: inline-block; height: 379.4px"
                      >
                        <div class="product-item" data-productid="3405">
                          <input
                            type="checkbox"
                            id="3405"
                            name="product-cross"
                            value="0"
                            class="item-checkbox"
                            hidden=""
                            tabindex="0"
                          />
                          <div class="picture">
                            <a
                              href="/loa-bluetooth-sony-ult-field-7"
                              title="Sony-ULT-Field-7 âm nhạc đỉnh cao, loa vác vai âm siêu trầm"
                              tabindex="0"
                            >
                              <img
                                alt="Sony-ULT-Field-7 âm nhạc đỉnh cao, loa vác vai âm siêu trầm"
                                src="https://shopdunk.com/images/thumbs/0028691_loa-sony-ult-field-7_240.jpeg"
                                title="Sony-ULT-Field-7 âm nhạc đỉnh cao, loa vác vai âm siêu trầm"
                              />
                            </a>
                          </div>
                          <div class="details">
                            <h3>
                              <span class="product-title">
                                <a href="/loa-bluetooth-sony-ult-field-7" tabindex="0"
                                  >Loa Sony ULT Field 7</a
                                >
                              </span>
                            </h3>
                            <div class="product-rating-box" title="0 bài đánh giá">
                              <div class="rating"><div style="width: 0%"></div></div>
                            </div>
                            <div class="description">
                              <hr />
                              <div
                                style="
                                  position: sticky;
                                  top: 5px;
                                  right: 10px;
                                  background-color: #f0f0f0;
                                  padding: 5px 5px 5px 10px;
                                  border-radius: 5px;
                                  font-size: 12px;
                                  color: #333;
                                  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
                                  text-align: left;
                                "
                              >
                                <span style="color: #000"
                                  >( Khuyến mãi dự kiến áp dụng
                                  <strong>đến 23h59 | 31/10/2024</strong> )</span
                                >
                              </div>
                              <hr />
                              <div style="display: flex">
                                <div
                                  class="event"
                                  style="
                                    cursor: pointer;
                                    border: 1px solid #f4f4f4;
                                    border-radius: 5px;
                                    margin: 5px 0;
                                    padding: 8px;
                                    background: linear-gradient(90deg, #f64850, #fb810b);
                                    text-align: center;
                                    flex-grow: 2;
                                    margin-right: 10px;
                                    color: #fff;
                                    display: flex;
                                    flex-direction: column;
                                    justify-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <div class="eventPrice" data-extra="0" data-rate="0" data-val="">
                                    <div class="product-more-promotion-item">
                                      Nhận ngay quà tặng trị giá : 2.140.000đ
                                    </div>
                                    <div class="product-more-promotion-item">
                                      <strong
                                        >SET HỘP QUÀ SONY ULT70 (1 Áo Thun New Era x MLB , Túi Đựng
                                        Loa)</strong
                                      >
                                    </div>
                                    <div class="product-more-promotion-item">
                                      (SL quà tặng có hạn)
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr />
                            </div>
                            <div class="add-info">
                              <div class="prices">
                                <span class="price actual-price"
                                  ><p>Giá niêm yết:</p>
                                  11.990.000₫</span
                                >
                                <input
                                  type="hidden"
                                  id="detail_price"
                                  value="11.990.000₫"
                                  tabindex="0"
                                />
                              </div>
                              <div class="append_price_percent"></div>
                              <div class="buttons">
                                <button
                                  type="button"
                                  class="button-2 product-box-add-to-cart-button"
                                  onclick='return AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/3405/1/1?forceredirection=True"),!1'
                                  tabindex="0"
                                >
                                  Mua ngay
                                </button>
                                <button
                                  type="button"
                                  class="button-2 add-to-wishlist-button"
                                  title="Thêm vào danh sách yêu thích"
                                  onclick='return AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/3405/2/1"),!1'
                                  tabindex="0"
                                >
                                  Thêm vào danh sách yêu thích
                                </button>
                              </div>
                            </div>
                            <i class="item-checkbox fa-regular fa-square"></i>
                          </div>
                        </div>
                        <button class="button__handle-select" tabindex="0">Chọn sản phẩm</button>
                        <input
                          type="hidden"
                          id="product-crossell-price-discount"
                          value="11990000"
                          tabindex="0"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="slick-slide slick-active"
                    data-slick-index="2"
                    aria-hidden="false"
                    style="width: 239px"
                  >
                    <div>
                      <div
                        class="item-box"
                        style="width: 100%; display: inline-block; height: 379.4px"
                      >
                        <div class="product-item" data-productid="3325">
                          <input
                            type="checkbox"
                            id="3325"
                            name="product-cross"
                            value="0"
                            class="item-checkbox"
                            hidden=""
                            tabindex="0"
                          />
                          <div class="picture">
                            <a
                              href="/hub-chuyen-doi-mophie-3in1"
                              title="Hiển thị chi tiết cho Hub chuyển đổi USB-C mophie 3in1"
                              tabindex="0"
                            >
                              <img
                                alt="Ảnh của Hub chuyển đổi USB-C mophie 3in1"
                                src="https://shopdunk.com/images/thumbs/0026624_hub-chuyen-doi-usb-c-mophie-3in1_240.png"
                                title="Hiển thị chi tiết cho Hub chuyển đổi USB-C mophie 3in1"
                              />
                            </a>
                          </div>
                          <div class="details">
                            <h3>
                              <span class="product-title">
                                <a href="/hub-chuyen-doi-mophie-3in1" tabindex="0"
                                  >Hub chuyển đổi USB-C mophie 3in1</a
                                >
                              </span>
                            </h3>
                            <div class="product-rating-box" title="0 bài đánh giá">
                              <div class="rating"><div style="width: 0%"></div></div>
                            </div>
                            <div class="description"></div>
                            <div class="add-info">
                              <div class="prices">
                                <span class="price actual-price"
                                  ><p>Giá niêm yết:</p>
                                  600.000₫</span
                                >
                                <input
                                  type="hidden"
                                  id="detail_price"
                                  value="600.000₫"
                                  tabindex="0"
                                />
                              </div>
                              <div class="append_price_percent"></div>
                              <div class="buttons">
                                <button
                                  type="button"
                                  class="button-2 product-box-add-to-cart-button"
                                  onclick='return AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/3325/1/1?forceredirection=True"),!1'
                                  tabindex="0"
                                >
                                  Mua ngay
                                </button>
                                <button
                                  type="button"
                                  class="button-2 add-to-wishlist-button"
                                  title="Thêm vào danh sách yêu thích"
                                  onclick='return AjaxCart.addproducttocart_catalog("/addproducttocart/catalog/3325/2/1"),!1'
                                  tabindex="0"
                                >
                                  Thêm vào danh sách yêu thích
                                </button>
                              </div>
                            </div>
                            <i class="item-checkbox fa-regular fa-square"></i>
                          </div>
                        </div>
                        <button class="button__handle-select" tabindex="0">Chọn sản phẩm</button>
                        <input
                          type="hidden"
                          id="product-crossell-price-discount"
                          value="450000"
                          tabindex="0"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="total-bill">
            <div class="total-combo-price">
              <div class="prices">
                <div class="product-price">
                  <span id="product-crossell-price-value-total" class="new-price price-value-3216"
                    >26.790.000₫</span
                  >
                </div>
                <div class="price_dis">Tiết kiệm: <span>0₫</span></div>
              </div>
            </div>
            <div class="add-to-cart-combo">
              <div class="add-to-cart-panel">
                <button
                  type="button"
                  id="add-to-cart-button-3216"
                  class="button-crosssell once-submit-button"
                  data-productid="3216"
                  onclick='return AjaxCart.addproducttocart_details("/addproducttocart/details/3216/3","#product-details-form"),!1'
                  data-gtm-vis-has-fired39352494_325="1"
                >
                  Mua <b>1</b> sản phẩm
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="list_related_products"><div class="tab-content" id="myTabContent"></div></div> -->
        <!-- <div class="tab-details">
          <ul class="nav nav-pills mb-3 nav-product-detail" id="pills-tab" role="tablist">
            <li class="nav-item nav-product-detail-item">
              <a
                class="nav-link active"
                id="pills-home-tab"
                data-toggle="pill"
                href="#pills-home"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                >Mô tả sản phẩm</a
              >
            </li>
            <li class="nav-item nav-product-detail-item" onclick="compareIphone()">
              <a
                class="nav-link"
                id="pills-compare-tab"
                data-toggle="pill"
                role="tab"
                aria-controls="pills-compare"
                aria-selected="true"
                >So sánh Mac</a
              >
            </li>
            <li class="nav-item nav-product-detail-item">
              <a
                class="nav-link"
                id="pills-profile-tab"
                data-toggle="pill"
                href="#pills-profile"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
                >Thông số kỹ thuật</a
              >
            </li>
            <li class="nav-item nav-product-detail-item">
              <a
                class="nav-link"
                id="pills-seo-tab"
                data-toggle="pill"
                href="#pills-seo-description"
                role="tab"
                aria-controls="pills-seo"
                aria-selected="false"
                >Chi tiết sản phẩm</a
              >
            </li>
            <li class="nav-item nav-product-detail-item">
              <a
                class="nav-link"
                id="pills-contact-tab"
                data-toggle="pill"
                href="#pills-contact"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
                >Hỏi đáp</a
              >
            </li>
          </ul>
        </div> -->
        <!-- <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active category-description catefory-full-description"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <div class="full-description" id="fullDescription">
              <div class="row">
                <div class="col">
                  <img
                    class="img-fluid d-none d-md-block"
                    style="display: block; margin-left: auto; margin-right: auto"
                    src="/images/uploaded/macbook air m3 webp/Macbook Air M3 Website.png"
                    alt="thiết kế Macbook Air M3"
                    width="100%"
                  /><img
                    class="img-fluid d-md-none"
                    style="display: block; margin-left: auto; margin-right: auto"
                    src="/images/uploaded/macbook air m3 webp/Mabook air m3 mobile 1.png"
                    alt="thiết kế Macbook Air M3"
                    height="100%"
                  /><img
                    class="img-fluid d-md-none"
                    style="display: block; margin-left: auto; margin-right: auto"
                    src="/images/uploaded/macbook air m3 webp/Mabook air m3 mobile 2.png"
                    alt="thiết kế Macbook Air M3"
                    height="100%"
                  /><img
                    class="img-fluid d-md-none"
                    style="display: block; margin-left: auto; margin-right: auto"
                    src="/images/uploaded/macbook air m3 webp/Mabook air m3 mobile 3.png"
                    alt="thiết kế Macbook Air M3"
                    height="100%"
                  /><img
                    class="img-fluid d-md-none"
                    style="display: block; margin-left: auto; margin-right: auto"
                    src="/images/uploaded/macbook air m3 webp/Mabook air m3 mobile 4.png"
                    alt="thiết kế Macbook Air M3"
                    height="100%"
                  /><img
                    class="img-fluid d-md-none"
                    style="display: block; margin-left: auto; margin-right: auto"
                    src="/images/uploaded/macbook air m3 webp/Mabook air m3 mobile 5.png"
                    alt="thiết kế Macbook Air M3"
                    height="100%"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <div class="container">
              <div class="product-specs-box">
                <div class="title"><strong>Sản phẩm thông số kỹ thuật</strong></div>
                <div class="table-wrapper">
                  <table class="data-table">
                    <thead>
                      <tr class="hidden-row">
                        <th width="25%"><span>Tên thuộc tính</span></th>
                        <th><span>Giá trị thuộc tính</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd">
                        <td class="spec-name">Màn hình</td>
                        <td class="spec-value">
                          <p>
                            <span style="color: #000"><strong>Màn hình: </strong>13.6 inch</span
                            ><br /><span style="color: #000"
                              ><strong>Độ phân giải: </strong>2560 x 1664</span
                            >
                          </p>
                        </td>
                      </tr>
                      <tr class="even">
                        <td class="spec-name">Công nghệ màn hình:</td>
                        <td class="spec-value">
                          <p>
                            <span style="color: #000">- Wide color (P3)</span><br /><span
                              style="color: #000"
                              >- 500 nits</span
                            ><br /><span style="color: #000">- True Tone Technology</span
                            ><br /><span style="color: #000">- 1 billion colors</span>
                          </p>
                        </td>
                      </tr>
                      <tr class="odd">
                        <td class="spec-name">CPU:</td>
                        <td class="spec-value">
                          <p>
                            <span style="color: #000"><strong>Công nghệ CPU:</strong> </span
                            ><span style="color: #000">Apple M3</span><br /><strong
                              ><span style="color: #000">Số nhân: </span></strong
                            ><span style="color: #000">8</span><br /><strong
                              ><span style="color: #000">Số luồng: </span></strong
                            ><span style="color: #000">Hãng không công bố</span><br /><strong
                              ><span style="color: #000">Tốc độ CPU: </span></strong
                            ><span style="color: #000">100GB/s memory bandwidth</span><br /><strong
                              ><span style="color: #000">Tốc độ tối đa: </span></strong
                            ><span style="color: #000">Hãng không công bố</span><br /><strong
                              ><span style="color: #000">Bộ nhớ đệm: </span></strong
                            ><span style="color: #000">Hãng không công bố</span>
                          </p>
                        </td>
                      </tr>
                      <tr class="even">
                        <td class="spec-name">Đồ họa và Âm thanh</td>
                        <td class="spec-value">
                          <p>
                            <strong><span style="color: #000">Card màn hình: </span></strong
                            ><span style="color: #000">Card tích hợp - 10 nhân GPU</span
                            ><br /><strong
                              ><span style="color: #000">Công nghệ âm thanh:</span></strong
                            ><br /><span style="color: #000">- Spatial Audio</span><br /><span
                              style="color: #000"
                              >- 3 microphones</span
                            ><br /><span style="color: #000">- 4 Loa</span><br /><span
                              style="color: #000"
                              >- Dolby Atmos</span
                            >
                          </p>
                        </td>
                      </tr>
                      <tr class="odd">
                        <td class="spec-name">Kết nối:</td>
                        <td class="spec-value">
                          <p>
                            <strong><span style="color: #000">Cổng giao tiếp:</span></strong
                            ><br /><span style="color: #000">- MagSafe 3</span><br /><span
                              style="color: #000"
                              >- Jack tai nghe 3.5 mm</span
                            ><br /><span style="color: #000"
                              >- 2 x Thunderbolt 3 / USB 4 (lên đến 40 Gb/s)</span
                            ><br /><strong
                              ><span style="color: #000">Kết nối không dây:</span></strong
                            ><br /><span style="color: #000">Wi-Fi 6E (802.11ax)</span><br /><span
                              style="color: #000"
                              >Bluetooth 5.3</span
                            ><br /><strong><span style="color: #000">Webcam: </span></strong
                            ><span style="color: #000">Full HD Webcam</span><br /><strong
                              ><span style="color: #000">Tính năng khác: </span></strong
                            ><span style="color: #000">Bảo mật vân tay</span><br /><strong
                              ><span style="color: #000">Đèn bàn phím: </span></strong
                            ><span style="color: #000">Đơn sắc trắng</span>
                          </p>
                        </td>
                      </tr>
                      <tr class="even">
                        <td class="spec-name">Kích thước, khối lượng:</td>
                        <td class="spec-value">
                          <p>
                            <strong>Kích thước, khối lượng:</strong> Dài 304.1 mm - Rộng 215 mm -
                            Dày 11.3 mm - Nặng 1.24 kg<br /><strong>Chất liệu: </strong>Vỏ nhôm tái
                            chế 100%
                          </p>
                        </td>
                      </tr>
                      <tr class="odd">
                        <td class="spec-name">Thông tin khác</td>
                        <td class="spec-value">
                          <p>
                            <strong>Thông tin Pin: </strong>Lên đến 18 giờ (Hãng công bố)<br /><strong
                              >Công suất bộ sạc: </strong
                            >30 W hoặc 70 W<br /><strong>Hệ điều hành:</strong> macOS Sonoma<br /><strong
                              >Thời điểm ra mắt:</strong
                            >
                            2024
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</div>
