<div class="master-wrapper-content">
  <div class="master-column-wrapper">
    <div class="center-1">
      <div class="page topic-page" id="ph-topic">
        <div class="page-title" id="ph-title">
          <h1>Trả góp</h1>
        </div>
        <div class="page-body">
          <p
             style="background-image:url('https://w.ladicdn.com/s1440x796/60b8994f6d94f20020f02091/asset-82x-1-20220307103903.png');background-position:center top;background-repeat:repeat;background-size:cover;margin:0;background-attachment:scroll;background-origin:content-box">
            <img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/asset-62x-20220307103704.png" alt=""
                 width="90%"></p>
          <div class="items dich-vu"
               style="display:flex;flex-wrap:wrap;justify-content:space-between">&nbsp;</div>
          <div class="info-tra-gop"
               style="display:flex;flex-wrap:wrap;justify-content:space-between;background-color:#1d1d1f;padding:10px 10px">
            <div class="info-tra-gop-1">
              <div class="info-1">
                <h3 style="color:#fff">MANG THẺ ĐẾN TRẢ GÓP 0%</h3>
              </div>
              <div class="info-1">
                <h3 style="color:#fff">ĐIỀU KIỆN THAM GIA</h3>
              </div>
              <div class="info-1">
                <h3 style="color:#fff">THỦ TỤC ĐƠN GIẢN</h3>
              </div>
              <div class="info-2">
                <h3 style="color:#fff">ĐĂNG KÝ NGAY</h3>
              </div>
            </div>
          </div>
          <div class="bank" style="display:flex;flex-wrap:wrap;justify-content:center">
            <h2 style="width:100%;text-align:center;padding-bottom:20px">ÁP DỤNG CHO THẺ TÍN DỤNG
            </h2>
            <div class="bank-1">&nbsp;</div>
            <div class="bank-1"><img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/vietinbank-1.png" alt=""
                   width="299" height="132"></div>
            <div class="bank-1"><img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/ACB.png" alt="" width="299"
                   height="132"></div>
            <div class="bank-1"><img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/sacombank.png" alt=""
                   width="299" height="132"></div>
            <div class="bank-1"><img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/SHB.png" alt="" width="299"
                   height="132"></div>
            <div class="bank-1"><img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/vietcombank.png" alt=""
                   width="299" height="132"></div>
            <div class="bank-1"><img src="https://shopdunk.com/images/uploaded/trang%20tra%20gop/shinhan.png" alt=""
                   width="299" height="132"></div>
          </div>
          <p class="info-bank"><iframe
                    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQJQiBWEhYs_MvLaJp33nHG5AtnImfnjtO1E-LDoZ2fa35yltcql3srWHXpeVejLFTTfiTPRTOp8abS/pubhtml?widget=true&amp;headers=false"
                    width="100%" height="1000"></iframe></p>
          <div class="uu-dai">
            <h2 style="width:100%;text-align:center;padding-bottom:20px">ƯU ĐÃI KHI MUA TRẢ GÓP TẠI
              </h2>
            <div class="info-uu-dai">
              <div class="info-uu-dai-1">Giá tốt nhất</div>
              <div class="info-uu-dai-1">Lãi suất 0%</div>
              <div class="info-uu-dai-1">Thời gian xét duyệt nhanh chóng</div>
              <div class="info-uu-dai-1">Bảo hành chính hãng Apple Việt Nam</div>
            </div>
          </div>
          <div class="sp-tra-gop">
            <div class="sp_1">&nbsp;</div>
            <div class="sp_1">&nbsp;</div>
            <div class="sp_1"><a href="/ipad-pro-m1-12.9-inch-128gb-wifi"><img
                     src="/images/uploaded/trang tra gop/Ipad-pro-11.jpeg" alt="" width="488"
                     height="660"></a></div>
            <div class="sp_1"><a href="/ipad-pro-m1-12.9-inch-128gb-wifi"><img
                     src="/images/uploaded/trang tra gop/Ipad-pro-12.9.jpeg" alt="" width="488"
                     height="660"></a></div>
            <div class="sp_1"><a href="/mac/macbook-pro"><img
                     src="/images/uploaded/trang tra gop/14-inch.jpeg" alt=""></a></div>
            <div class="sp_1"><a href="/mac/macbook-pro"><img
                     src="/images/uploaded/trang tra gop/Mac-16.jpeg" alt="" width="488"
                     height="660"></a></div>
          </div>
          <h3 style="text-align:center;padding:40px 0 20px 0;font-weight:bold">PHỤ KIỆN CHÍNH HÃNG
            APPLE</h3>
          <p>&nbsp;</p>
          <div class="sp-tra-gop">
            <div class="sp_1"><a href="/airpods-2"><img
                     src="/images/uploaded/trang tra gop/AirPod-2.jpeg" alt="" width="488"
                     height="604"></a></div>
            <div class="sp_1"><a href="/airpods-pro-2021"><img
                     src="/images/uploaded/trang tra gop/Air-Pro.jpeg" alt="" width="488"
                     height="604"></a></div>
          </div>
          <div class="content-tra-gop">
            <h2 class="ladi-headline" style="padding-top:40px"><span style="color:#1d1d1f">THỦ TỤC
                NHANH CHÓNG - HỖ TRỢ TỐI ĐA</span></h2>
            <p>&nbsp;</p>
            <ul>
              <li class="p1"><span style="color:#515154">Khách hàng điền đơn đăng ký trả góp theo
                  mẫu biểu có sẵn từ.</span></li>
              <li class="p1"><span style="color:#515154">Chính chủ thẻ thanh toán sản phẩm bằng cách
                  quẹt thẻ tín dụng ngân hàng với thiết bị POS/MPOS tại.</span></li>
              <li class="p1"><span style="color:#515154">Khách hàng đăng ký toàn bộ giá trị giao
                  dịch thanh toán thẻ sang giao dịch trả góp.</span></li>
              <li class="p1"><span style="color:#515154">Giao dịch sẽ được ngân hàng xử lý trả góp
                  cho khách hàng sau 05-10 ngày làm việc kể từ khi tiếp nhận thông tin đăng ký trả
                  góp từ.</span></li>
            </ul>
            <ul>
              <li><span style="color:#515154">Chương trình này KHÔNG CỘNG DỒN các chương trình ưu
                  đãi khác.</span></li>
              <li><span style="color:#515154">Quý khách sẽ không được hủy giao dịch trả góp sau khi
                  đã thông báo chuyển đổi trả góp với ngân hàng.</span></li>
              <li><span style="color:#515154">Chương trình không áp dụng cho giao dịch xuất phát từ
                  thẻ phụ.</span></li>
              <li><span style="color:#515154">Ngân hàng không trả góp cho các trường hợp chia nhỏ
                  hóa đơn hoặc hóa đơn mua hàng được thanh toán bằng nhiều thẻ của một chủ thẻ hoặc
                  nhiều chủ thẻ khác nhau.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
