<!-- <page-header /> -->

<div class="row">
  <div class="col-sm-5">
    <mat-card class="bg-white">
      <mat-card-header>
        <mat-card-title>Form Product</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="reactiveForm" class="form-field-full">
              <mat-form-field appearance="outline">
                <mat-label>Product name</mat-label>
                <input matInput formControlName="name"
                       required>
                <mat-error *ngIf="(reactiveForm.get('name')?.invalid)">{{'validation.required' |
                  translate}}</mat-error>
              </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
            <mat-error *ngIf="(reactiveForm.get('code')?.invalid)">{{'validation.required' |
              translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId" required>
              <mat-option value="a">-- None --</mat-option>
              <mat-option *ngFor="let item of category; index as i;"
                          [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(reactiveForm.get('categoryId')?.invalid)">{{'validation.required' |
              translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Supplier</mat-label>
            <mat-select required formControlName="supplierId" required>
              <mat-option>-- None --</mat-option>
              <mat-option *ngFor="let item of supplier; index as i;"
                          [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(reactiveForm.get('supplierId')?.invalid)">{{'validation.required' |
              translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea rows="4" matInput formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Upload Images</mat-label>
            <input matInput readonly [value]="fileName || 'No file selected'" />
            <button mat-icon-button matSuffix (click)="fileInput.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            <input
                   #fileInput
                   type="file"
                   hidden
                   (change)="onFileSelected($event)"
                   accept="image/*"
                   multiple />
          </mat-form-field>

          <div class="m-t-8 d-flex justify-content-end">
            <button mat-button class="m-x-8" type="button">Cancel</button>
            <button mat-flat-button type="submit" (click)="onSubmit()">Save</button>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-7">
    <mat-card class="bg-white">
      <mat-card-header>
        <mat-card-title>Form Option
          <button mat-icon-button type="button" color="primary"
                  (click)="addProduct()">
            <mat-icon>add</mat-icon>
          </button>

        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-field-full">
          <div formArrayName="products">
            <!-- Products Loop -->
            <div *ngFor="let product of products.controls; let i=index" [formGroupName]="i"
                 class="row configuration-item">
              <!-- Product Fields -->
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Option name</mat-label>
                  <input matInput formControlName="name">
                  <mat-error *ngIf="product.get('name')?.errors?.['required']">
                    Product name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field appearance="outline">
                  <mat-label>Price</mat-label>
                  <input matInput type="number" formControlName="price">
                  <mat-error *ngIf="product.get('price')?.errors?.['required']">
                    Price is required
                  </mat-error>
                  <mat-error *ngIf="product.get('price')?.errors?.['min']">
                    Price large than 0
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input matInput type="number" formControlName="quantity"
                         >
                  <mat-error *ngIf="product.get('quantity')?.errors?.['required']">
                    Quantity is required
                  </mat-error>
                  <mat-error *ngIf="product.get('quantity')?.errors?.['min']">
                    Quantity large than 0
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex w-full wrap-config">
                <div class="flex-1">
                  <label for="">Configration</label>
                  <!-- Add Configuration Button -->
                  <button type="button" mat-icon-button color="primary"
                          (click)="addConfiguration(i)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <button type="button" mat-icon-button color="warn"
                        (click)="removeProduct(i)" *ngIf="products.length > 1">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <!-- Configuration Array -->
              <div formArrayName="configuration" class="w-full">
                <div *ngFor="let config of getConfigurationArray(i).controls; let j=index"
                     [formGroupName]="j" class="config-container">

                  <mat-form-field appearance="outline">
                    <mat-label>Key</mat-label>
                    <input matInput formControlName="key" >
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <input matInput formControlName="value">
                  </mat-form-field>

                  <button type="button" mat-icon-button color="warn"
                          (click)="removeConfiguration(i, j)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="wrap-button">
            <button type="submit" [disabled]="loading" #myButton mat-raised-button color="accent" class="hidden-button">
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
