<div class="m-y-8">
  <div class="master-wrapper-content">
    <div class="master-column-wrapper">
      <div class="center-1">
        <div class="page category-page">
          <div class="all_content_category">
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="page-title" id="category-page-title" style="scroll-margin-top: 115px">
                <!-- <h1>Mac</h1> -->
              </div>
              <div class="catelog_banner desktop">
                <div class="topic-block">
                  <div class="topic-block-body">
                    <div class="banner_cate_slick slick-initialized slick-slider slick-dotted">
                      <div class="slick-list draggable">
                        <div class="slick-track">
                          <div
                            class="slick-cloned"
                            data-slick-index="-1"
                            id=""
                            aria-hidden="true"
                            tabindex="-1"
                          >
                            <div style="width: 100%">
                              <a
                                href="https://shopdunk.com/macbook-air-m1-2020"
                                style="width: 100%; display: inline-block"
                                tabindex="-1"
                                ><img
                                  src="https://shopdunk.com/images/uploaded/banner/banner%202024/Thang%20_%2010/banner%20MacBook-mayin%20T11_Danh%20m%E1%BB%A5c%20.png"
                                  alt=""
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catelog_banner catelog_banner_mobile">
                <div class="topic-block">
                  <div class="topic-block-body">
                    <div class="banner_cate_slick slick-initialized slick-slider slick-dotted">
                      <button
                        class="slick-prev slick-arrow"
                        aria-label="Previous"
                        type="button"
                        style=""
                      >
                        Previous
                      </button>
                      <div class="slick-list draggable">
                        <div
                          class="slick-track"
                          style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px)"
                        >
                          <div
                            class="slick-slide slick-cloned"
                            data-slick-index="-1"
                            id=""
                            aria-hidden="true"
                            style="width: 0px"
                            tabindex="-1"
                          >
                            <div>
                              <a
                                href="https://shopdunk.com/macbook-air-m1-2020"
                                style="width: 100%; display: inline-block"
                                tabindex="-1"
                                ><img
                                  src="/images/uploaded/banner/banner 2024/Thang _ 10/banner MacBook-mayin T11_MB.png"
                                  alt=""
                                  width="600"
                                  height="600"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="slick-slide"
                            data-slick-index="0"
                            aria-hidden="true"
                            style="width: 0px"
                            role="tabpanel"
                            id="slick-slide10"
                            aria-describedby="slick-slide-control10"
                            tabindex="-1"
                          >
                            <div>
                              <a
                                href="https://shopdunk.com/macbook-air"
                                style="width: 100%; display: inline-block"
                                tabindex="-1"
                                ><img
                                  src="/images/uploaded/banner/banner 2024/Thang _ 10/02_10/macairmbdm.png"
                                  alt=""
                                  width="600"
                                  height="600"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="slick-slide slick-current slick-active"
                            data-slick-index="1"
                            aria-hidden="false"
                            style="width: 0px"
                            role="tabpanel"
                            id="slick-slide11"
                            aria-describedby="slick-slide-control11"
                          >
                            <div>
                              <a
                                href="https://shopdunk.com/macbook-air-m1-2020"
                                style="width: 100%; display: inline-block"
                                tabindex="0"
                                ><img
                                  src="/images/uploaded/banner/banner 2024/Thang _ 10/banner MacBook-mayin T11_MB.png"
                                  alt=""
                                  width="600"
                                  height="600"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="slick-slide slick-cloned"
                            data-slick-index="2"
                            id=""
                            aria-hidden="true"
                            style="width: 0px"
                            tabindex="-1"
                          >
                            <div>
                              <a
                                href="https://shopdunk.com/macbook-air"
                                style="width: 100%; display: inline-block"
                                tabindex="-1"
                                ><img
                                  src="/images/uploaded/banner/banner 2024/Thang _ 10/02_10/macairmbdm.png"
                                  alt=""
                                  width="600"
                                  height="600"
                              /></a>
                            </div>
                          </div>
                          <div
                            class="slick-slide slick-cloned"
                            data-slick-index="3"
                            id=""
                            aria-hidden="true"
                            style="width: 0px"
                            tabindex="-1"
                          >
                            <div>
                              <a
                                href="https://shopdunk.com/macbook-air-m1-2020"
                                style="width: 100%; display: inline-block"
                                tabindex="-1"
                                ><img
                                  src="/images/uploaded/banner/banner 2024/Thang _ 10/banner MacBook-mayin T11_MB.png"
                                  alt=""
                                  width="600"
                                  height="600"
                              /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        class="slick-next slick-arrow"
                        aria-label="Next"
                        type="button"
                        style=""
                      >
                        Next
                      </button>
                      <ul class="slick-dots" style="" role="tablist">
                        <li class="" role="presentation">
                          <button
                            type="button"
                            role="tab"
                            id="slick-slide-control10"
                            aria-controls="slick-slide10"
                            aria-label="1 of 2"
                            tabindex="-1"
                          >
                            1
                          </button>
                        </li>
                        <li role="presentation" class="slick-active">
                          <button
                            type="button"
                            role="tab"
                            id="slick-slide-control11"
                            aria-controls="slick-slide11"
                            aria-label="2 of 2"
                            tabindex="0"
                            aria-selected="true"
                          >
                            2
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="page-body">
                <div class="all_sub-category-grid">
                  <!-- danh mục -->
                  <div class="category-grid sub-category-grid">
                    <div class="item-box active">
                      <div class="sub-category-item">
                        <div class="title"><a href="/mac" title="All model"> Tất cả </a></div>
                      </div>
                    </div>
                    <div *ngFor="let item of category; index as i;"  class="item-box">
                      <div class="sub-category-item">
                        <div class="title">
                          <a href="">
                            {{item.name}}
                          </a>
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
                <div class="products-container">
                  <div class="ajax-products-busy"></div>
                  <div class="products-wrapper">
                    <div class="product-grid">
                      <div class="item-grid">
                        <!-- product list -->
                        <div *ngFor="let item of products; index as i;" class="item-box">
                          <div class="product-item" >
                            <div class="product_tag">
                              <img src="/images/uploaded/icon/giam-500.png" alt="" />
                            </div>
                            <div class="picture">
                              <a
                                [routerLink]="'product/'+item.id"
                                title="Hiển thị chi tiết cho MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
                              >
                                <img
                                  alt="Ảnh của MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
                                  [src]="baseImage + item.image[0].url"
                                  title="Hiển thị chi tiết cho MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
                                />
                              </a>
                            </div>
                            <div class="details">
                              <h3 class="product-title">
                                <a href="/macbook-air-m1-2020"
                                  >{{item.name}}</a
                                >
                              </h3>
                              <div class="description"></div>

                              <div class="add-info">
                                <div class="prices">
                                  <div class="price-ratio-container">
                                    <span class="price price-ratio">-37%</span>
                                  </div>
                                  <span class="price old-price">{{item.price}}₫</span>
                                  <span class="price actual-price">18.250.000₫</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="pager">
                      <ul>
                        <li class="current-page"><span>1</span></li>
                        <li class="individual-page">
                          <a data-page="2" href="https://shopdunk.com/mac?pagenumber=2">2</a>
                        </li>
                        <li class="individual-page">
                          <a data-page="3" href="https://shopdunk.com/mac?pagenumber=3">3</a>
                        </li>
                        <li class="individual-page">
                          <a data-page="4" href="https://shopdunk.com/mac?pagenumber=4">4</a>
                        </li>
                        <li class="next-page">
                          <a data-page="2" href="https://shopdunk.com/mac?pagenumber=2">Kế tiếp</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="topic-block">
                  <div class="topic-block-body">
                    <div class="section_catelog_bottom">
                      <div class="section_ss sosanh">
                        <div class="ss_image">
                          <a href="/so-sanh-mac">
                            <img
                              title="Image Standard"
                              src="/images/uploaded/trang danh muc/mac/Image-Standard-4.png"
                              alt="Image Standard"
                              width="142"
                              height="139"
                            />
                          </a>
                        </div>
                        <div class="ss_all_content">
                          <div class="title">Tìm Mac<br />phù hợp với bạn</div>
                          <a class="button-link" href="/so-sanh-mac">So sánh các Mac </a
                          ><a class="button-link" href="/so-sanh-mac">›</a>
                        </div>
                      </div>
                      <div class="section_ss muakem">
                        <div class="ss_image">
                          <a href="/phu-kien">
                            <img
                              title="Image Standard-1"
                              src="/images/uploaded/trang danh muc/mac/Image-Standard-5.png"
                              alt="Image Standard-1"
                              width="142"
                              height="139"
                            />
                          </a>
                        </div>
                        <div class="ss_all_content">
                          <div class="title">Phụ kiện Mac<br />thường mua kèm</div>
                          <a class="button-link" href="/phu-kien">Tìm phụ kiện&nbsp;</a
                          ><a class="button-link" href="/phu-kien">›</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="products-container">
    <div class="products-wrapper">
      <div class="product-grid">
        <div class="item-grid">
          <div class="item-box">
            <div class="product-item" data-productid="3217">
              <div class="product_tag"></div>
              <div class="picture">
                <a
                  href="/macbook-air-m3-15-inch"
                  title="Hiển thị chi tiết cho MacBook Air M3 15 inch"
                >
                  <img
                    alt="Ảnh của MacBook Air M3 15 inch"
                    src="https://shopdunk.com/images/thumbs/0024503_macbook-air-m3-15-inch_240.jpeg"
                    title="Hiển thị chi tiết cho MacBook Air M3 15 inch"
                  />
                </a>
              </div>
              <div class="details">
                <h3 class="product-title m-b-4">
                  <a href="/macbook-air-m3-15-inch">MacBook Air M3 15 inch</a>
                </h3>
              </div>
              <div class="add-info">
                <div class="prices">
                  <div class="price-ratio-container">
                    <span class="price price-ratio">-4%</span>
                  </div>
                  <span class="price old-price">32.990.000₫</span>
                  <span class="price actual-price">31.590.000₫</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
