<div class="shopping-cart-page">
  <div class="html-shopping-cart-page ">
    <div class="master-wrapper-page">
      <div class="master-wrapper-content">
        <div class="master-column-wrapper">
          <div class="center-1">
            <div class="page shopping-cart-page">
              <div class="page-body">
                <div class="order-summary-content container">
                  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                    <div class="yourCart top-content"><a href="/" class="buymore">Back to home</a>
                      <span> Your cart</span></div>
                    <div class="shopping-cart-info">
                      <div class="cart-detail">
                        <div class="table-wrapper">
                          <div class="cart">
                            <!-- map -->
                            <div *ngFor="let cart of carts; index as i;" class="product-cart-detail">
                                <input
                                       type="hidden"
                                       name="addtocart_100.UpdatedShoppingCartItemId"
                                       id="addtocart_100.UpdatedShoppingCartItemId"
                                       value="361165" class="has-value">


                              <div class="product-picture">
                           <div class="wrap-check-cart">
                             <input id="termsofservice"
                                        type="checkbox"
                                        name="termsofservice"
                                        checked="" class="has-value"
                                        (change)="handleCheckbox(cart)">
                           </div>
                                <span>
                                  <img alt="Ảnh của  iMac M1 2021 24 inch (8 Core GPU/8GB/512GB)"
                                       [src]="cart.options.image ? baseImage + cart.options.image[0].url : ''"
                                       title="Hiển thị chi tiết cho  iMac M1 2021 24 inch (8 Core GPU/8GB/512GB)"
                                       class="atribute-img-1"> </span>

                              </div>
                              <div class="cart-content-product">
                                <div class="product"><span
                                     class="product-name">{{cart.options.productName}}</span>
                                  <div class="attributes">
                                    <dl>
                                      <dd
                                          id="product_attribute_input_148">
                                        <label
                                               for=""
                                               class="text-prompt-1">
                                          <p>{{cart.options.name}}</p>
                                        </label>
                                        <ul data-attr="148"
                                            class="option-list attribute-squares color-squares"
                                            id="color-squares-148">
                                        </ul>
                                      </dd>
                                    </dl>
                                  </div>
                                </div>
                                <div class="unit-price">
                                  <div class="conatiner-cart-price"><span
                                          class="product-unit-price product-unit-price-1">{{cart.options.price * cart.quantity}}₫</span>
                                    <div class="quantity">
                                      <div
                                           class="cart-quantity-input-container">
                                        <input
                                               name="itemquantity361165"
                                               id="itemquantity361165"
                                               type="text" [value]="cart.quantity"
                                               class="qty-input has-value"
                                               aria-label="Số lượng">

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="total-provisional price_tt"><span
                                    class="total-product-quantity"> <span
                                      class="total-label">Provisional </span>({{cartSelected.length}}
                                product): </span> <span
                                    class="temp-total-money">{{totalAmount}}₫</span>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="cart-options">
                                                <div class="common-buttons"><button type="submit"
                                                            name="updatecart" id="updatecart"
                                                            class="button-2 update-cart-button once-submit-button"
                                                            hidden="">Cập nhật giỏ hàng</button> <button
                                                            type="submit" name="continueshopping"
                                                            class="button-2 continue-shopping-button once-submit-button"
                                                            hidden="">Tiếp tục mua sắm</button></div>
                                                <div class="selected-checkout-attributes"></div>
                                            </div> -->
                      </div>
                      <div class="all_checkout-billing">
                        <div id="checkout-billing-load">
                          <div class="checkout-data">
                            <div class="infor-customer">
                              <div class="section new-billing-address"
                                   id="billing-new-address-form">
                                <div class="custom-cart-customer">
                                  <h4 class="mb-6">Customer information</h4>
                                  <div class="inputs two_col left"><input
                                           type="text"
                                           formControlName="fullName">
                                    <label for="" class="form-label">FullName</label>
                                  </div>

                                  <div class="inputs two_col right"><input
                                           type="text"
                                           formControlName="phone">
                                    <label for="" class="form-label">Phone number</label>
                                  </div>

                                  <div class="inputs one-col col-address1"><input
                                           type="text"
                                           formControlName="email">
                                    <label for="" class="form-label">Email</label>
                                  </div>
                                  <div
                                  class="inputs one-col col-address1">
                               <input type="text"
                                      formControlName="address"
                                      id="BillingNewAddress_Address1"
                                      name="BillingNewAddress.Address1">
                               <label for="Address1"
                                      class="form-label">Address</label>
                               <span></span>
                             </div>
                                  <div class="inputs one-col col-address1"><textarea rows="6"
                                              type="text"
                                              formControlName="note"></textarea>
                                    <label for="" class="form-label">Note</label>
                                  </div>


                                </div>
                                <div class="enter-address bg-white"><input
                                         class="address-id has-value"
                                         type="hidden" data-val="true"
                                         data-val-required="The Id field is required."
                                         id="BillingNewAddress_Id"
                                         name="BillingNewAddress.Id"
                                         value="0">
                                  <div class="edit-address">
                                    <div class="tt_receive_method">Payment method</div>
                                    <div
                                        *ngFor="let payment of paymentMethod; index as j;"
                                         class="inputs one-col receive_method">
                                      <input

                                      type="radio"
                                            [id]="payment.id"
                                             formControlName="paymentMethod"
                                             name="receive" [value]="payment.id"
                                             checked=""
                                             class="has-value"> <label
                                             [for]="payment.id"
                                             class="dot_receive_home">{{payment.name}}</label>

                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="cart-footer col-sm-12 col-lg-6">
                          <div class="sidebar-cart">

                            <div class="totals">
                              <div class="total-info">
                                <table class="cart-total">
                                  <tbody>
                                    <tr class="order-total">
                                      <td class="cart-total-left">
                                        <label for="">Total money:</label>
                                      </td>
                                      <td class="cart-total-right">
                                        <span
                                              class="value-summary">{{totalAmount}}₫</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div id="terms-of-service-warning-box"
                                   style="display:none">
                                <p>Bạn chưa đồng ý với Chính sách xử lý dữ
                                  liệu cá nhân của ShopDunk</p>
                                <div class="content"><a
                                     href="/dieu-khoan-dieu-kien">Chính
                                    sách xử lý dữ liệu cá nhân</a> nhằm
                                  phục vụ tốt hơn cho trải nghiệm mua sắm
                                  của bạn. Hãy kiểm tra và nhấn đồng ý để
                                  tiếp tục đặt hàng!</div><a
                                   class="security-policy-content"> Đồng ý
                                  và tiếp tục đặt hàng </a>
                              </div>
                              <div class="terms-of-service">
                                <div class="d-flex">
                                  <div><input id="termsofservice"
                                           type="checkbox"
                                           name="termsofservice"
                                           checked="" class="has-value">
                                  </div><label for="termsofservice">I have read and agree to the website terms and conditions</label>
                                </div>
                              </div>
                              <div class="checkout-buttons"><button
                                        type="submit"
                                        class="button-1 checkout-button">
                                  Submit </button></div>
                              <div class="addon-buttons"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><input name="__RequestVerificationToken" type="hidden"
                           value="CfDJ8H9CebzMfihPtaSr9JH-PUTTz9_Sr_6qFwg51L4oIHqDAuvLzcN1cIUyBLvXfVdsTMk2vzgVZZIOwMNIV1dWFZUb0X4l_dTVvx2a1u8goxq1LPDs-V3bo1kyPbR5hyosnIQyxzlDkEyVd4RTOK67Pbk"
                           class="has-value">
                  </form>
                </div><input type="text" id="phoneNumber" name="name" hidden="">
                <div id="popup-container" class="popup-survey">
                  <div class="popup-content"><span class="close-btn">×</span> <input
                           type="text" id="customerName" name="name" hidden="">
                    <div class="popup_confirm_survey">
                      <h4>Giỏ hàng của bạn đã sẵn sàng, bạn có muốn đặt mua hay không?
                      </h4>
                      <div class="div-button-crm-survey"><a href="#"
                           class="continue">Đang phân vân</a> <a href="#"
                           class="buy-now">Đặt mua</a></div>
                      <div class="div-text-crm-survey"><a href="/" class="browse">Tiếp
                          tục tham khảo sản phẩm khác →</a></div>
                    </div>
                    <div class="popup-report-container-crm-survey">
                      <h4>Điều gì làm bạn phân vân chưa quyết định đặt hàng :</h4>
                      <div class="content-checkbox"><input type="checkbox"
                               id="interest1" name="interest"
                               value="Giá cả chưa hợp lý" class="has-value"> <label
                               for="interest1">Giá cả chưa hợp lý</label></div>
                      <div class="content-checkbox"><input type="checkbox"
                               id="interest2" name="interest"
                               value="Chương trình khuyến mãi ít, không hấp dẫn"
                               class="has-value"> <label for="interest2">Chương
                          trình khuyến mãi ít, không hấp dẫn</label></div>
                      <div class="content-checkbox"><input type="checkbox"
                               id="interest3" name="interest"
                               value="Thời gian giao hàng lâu" class="has-value">
                        <label for="interest3">Thời gian giao hàng lâu</label>
                      </div>
                      <div class="content-checkbox"><input type="checkbox"
                               id="interest4" name="interest" value="Phải đặt cọc"
                               class="has-value"> <label for="interest4">Phải đặt
                          cọc</label></div>
                      <div class="content-checkbox"><input type="checkbox"
                               id="interest5" name="interest" value="Khác"
                               class="has-value"> <label
                               for="interest5">Khác</label></div>
                      <div class="flex-container"><textarea
                                  class="crm-survey-textarea" id="note"
                                  placeholder="Điều khiến bạn không hài lòng là gì?"
                                  maxlength="255" rows="4"></textarea></div>
                      <div class="wrap_anwser_survey_system">
                        <div class="content-checkbox"><input type="checkbox"
                                 id="interest6" name="interest"
                                 value="Yêu cầu Shopdunk gọi lại để có thông tin chi tiết."
                                 class="has-value"> <label for="interest6">Yêu cầu
                             gọi lại để có thông tin chi tiết.</label>
                        </div>
                        <div class="crm-survey-phonenumber"><input type="text"
                                 id="phoneNumber" name="phoneNumberPopup"></div>
                      </div>
                      <div class="send_survey_system"><button
                                class="button-send-report-survey"
                                id="crmbtnsubmit-survey">Gửi góp ý</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
