<div class="html-news-list-page html-news-page ">
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="breadcrumb">
                <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope=""
                        itemtype="http://schema.org/ListItem"><span> <a href="/" itemprop="item">
                                <span itemprop="name" content="Trang chủ">Trang chủ</span> </a>
                        </span> <span class="delimiter">›</span>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope=""
                        itemtype="http://schema.org/ListItem"><span> <a href="/tin-tuc"
                               itemprop="item"> <span itemprop="name" content="Tin tức">Tin
                                    tức</span> </a> </span>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
            </div>
            <div class="page news-list-page group_news big_img">
                <div class="page-title" style="padding-top:0">
                    <h1 style="text-align:center">Tin tức</h1>
                </div>
                <div class="page-body">
                    <div class="news-items_Latest">
                        <div class="news-item_Latest ss_big">
                            <div class="picture_Latest"><a
                                   href="/sale-t%C6%B0ng-b%E1%BB%ABng-m%E1%BB%ABng-ph%C3%A1i-%C4%91%E1%BA%B9p-1010-3110"
                                   title="Hiển thị sản phẩm trong danh mục SALE TƯNG BỪNG - MỪNG PHÁI ĐẸP  10/10 - 31/10">
                                    <img alt="Hình ảnh cho danh mục SALE TƯNG BỪNG - MỪNG PHÁI ĐẸP  10/10 - 31/10"
                                         src="https://shopdunk.com/images/thumbs/0030999_banner hotsale_App copy_1600.png"
                                         title="Hiển thị sản phẩm trong danh mục SALE TƯNG BỪNG - MỪNG PHÁI ĐẸP  10/10 - 31/10">
                                </a></div>
                            <div class="news-head_Latest"><a class="news-title_Latest"
                                   href="/sale-t%C6%B0ng-b%E1%BB%ABng-m%E1%BB%ABng-ph%C3%A1i-%C4%91%E1%BA%B9p-1010-3110">SALE
                                    TƯNG BỪNG - MỪNG PHÁI ĐẸP 10/10 - 31/10</a>
                                <div class="news-body_Latest">Không khí rộn ràng đang bao phủ khắp
                                    nơi với tình yêu và lòng tri ân đặc biệt tới phái đẹp nhân dịp
                                    ngày Phụ nữ Việt Nam 20/10. Mỗi món quà là một lời nhắn, tình
                                    cảm chân thành gửi đến phái đẹp trong Ngày Phụ nữ Việt Nam
                                    20/10. ShopDunk tung loạt deal độc quyền giảm tới 10 TRIỆU++
                                    dành riêng cho chị em nhân ngày lễ ý nghĩa này. Hãy để những món
                                    quà công nghệ hữu ích thay lời yêu của bạn dành cho phái đẹp
                                    trong dịp đặc biệt này nhé!</div>
                            </div>
                        </div>
                        <div class="news-item_Latest ss_normal">
                            <div class="picture_Latest"><a href="/chip-a18-pro"
                                   title="Hiển thị sản phẩm trong danh mục A18 Pro: Chip iPhone 16 mạnh nhất 2024 có gì?">
                                    <img alt="Hình ảnh cho danh mục A18 Pro: Chip iPhone 16 mạnh nhất 2024 có gì?"
                                         src="https://shopdunk.com/images/thumbs/0030998_danh-gia-chip-a18-pro-tren-iphone-16-pro-va-iphone-16-pro-max_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục A18 Pro: Chip iPhone 16 mạnh nhất 2024 có gì?">
                                </a></div>
                            <div class="news-head_Latest"><a class="news-title_Latest"
                                   href="/chip-a18-pro">A18 Pro: Chip iPhone 16 mạnh nhất 2024 có
                                    gì?</a>
                                <div class="news-body_Latest">Chip A18 Pro có gì mà được đánh giá là
                                    con chip mạnh mẽ top đầu khi được tung ra thị trường? Khả năng
                                    đa nhiệm, làm mát, hiệu năng, đồ họa siêu cường và được tối ưu
                                    cho AI.</div><span class="news-date_Latest">16/10/2024</span>
                            </div>
                        </div>
                        <div class="news-item_Latest ss_normal">
                            <div class="picture_Latest"><a
                                   href="/tong-hop-ctkm-thang-10-tai-shopdunk"
                                   title="Hiển thị sản phẩm trong danh mục Tổng hợp CTKM tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản phẩm Apple chính hãng">
                                    <img alt="Hình ảnh cho danh mục Tổng hợp CTKM tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản phẩm Apple chính hãng"
                                         src="https://shopdunk.com/images/thumbs/0030538_banner tổng T10_App_1600.png"
                                         title="Hiển thị sản phẩm trong danh mục Tổng hợp CTKM tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản phẩm Apple chính hãng">
                                </a></div>
                            <div class="news-head_Latest"><a class="news-title_Latest"
                                   href="/tong-hop-ctkm-thang-10-tai-shopdunk">Tổng hợp CTKM
                                    tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản
                                    phẩm Apple chính hãng</a>
                                <div class="news-body_Latest">Tháng 10 này, không khí se lạnh của
                                    mùa thu đã tràn ngập khắp phố phường, báo hiệu mùa yêu thương đã
                                    về. Để tôn vinh vẻ đẹp và sự đóng góp của phái đẹp, ShopDunk
                                    mang đến chương trình ưu đãi đặc biệt "Tháng Tôn Vinh Phụ Nữ"
                                    với mức giảm giá lên đến 50% cho các sản phẩm iPad, iPhone,
                                    MacBook, Apple Watch, AirPods...Đừng bỏ lỡ cơ hội sở hữu những
                                    món đồ công nghệ yêu thích với giá cực hời trong tháng này nhé!
                                </div><span class="news-date_Latest">01/10/2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="all_list-cate">
                <div class="list-cate"><a href="/apple-news"
                       class="cate-name news-home-apple-news">Tin tức Apple</a></div>
                <div class="list-cate"><a href="/news-review"
                       class="cate-name news-home-news-review">Bài viết review</a></div>
                <div class="list-cate"><a href="/tin-kham-pha"
                       class="cate-name news-home-tin-kham-pha">Khám phá</a></div>
                <div class="list-cate"><a href="/thu-thuat"
                       class="cate-name news-home-thu-thuat">Thủ thuật</a></div>
                <div class="list-cate"><a href="/khuyen-mai"
                       class="cate-name news-home-khuyen-mai">Khuyến mại</a></div>
                <div class="list-cate"><a href="/tin-khac" class="cate-name news-home-tin-khac">Tin
                        khác</a></div>
                <div class="list-cate"><a href="/news-ivideo"
                       class="cate-name news-home-news-ivideo">iVideo</a></div>
                <div class="list-cate"><a href="/news-vip-customer"
                       class="cate-name news-home-vip-customer">Góc cảm ơn</a></div>
            </section>
            <div class="page news-list-page group_news">
                <div class="page-title">
                    <h2>Tin tức Apple</h2>
                </div>
                <div class="page-body">
                    <div class="news_lasted"></div>
                    <div class="news-items">
                        <div class="news-item">
                            <div class="picture"><a href="/iphone-16-pro-max-mau-vang-titan-sa-mac"
                                   title="Hiển thị sản phẩm trong danh mục iPhone 16 Pro Max Titan Vàng Sa Mạc: Hợp mệnh Thổ/Kim?">
                                    <img alt="Hình ảnh cho danh mục iPhone 16 Pro Max Titan Vàng Sa Mạc: Hợp mệnh Thổ/Kim?"
                                         src="https://shopdunk.com/images/thumbs/0030236_iphone-16-pro-max-mau--vang-titan-sa-mac-7_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục iPhone 16 Pro Max Titan Vàng Sa Mạc: Hợp mệnh Thổ/Kim?">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/iphone-16-pro-max-mau-vang-titan-sa-mac">iPhone 16 Pro
                                        Max Titan Vàng Sa Mạc: Hợp mệnh Thổ/Kim?</a></h3>
                                <div class="news-body">Nếu bạn tìm kiếm một chiếc iPhone với thiết
                                    kế thanh lịch và phong thủy tốt, iPhone 16 Pro Max màu vàng
                                    Titan Sa Mạc là lựa chọn lý tưởng. Phiên bản này không chỉ nổi
                                    bật với màu sắc sang trọng mà còn mang nhiều cải tiến đáng giá.
                                </div><span class="news-date">13/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/iphone-16-co-may-mau"
                                   title="Hiển thị sản phẩm trong danh mục iPhone 16  có mấy màu? Gợi ý mua màu đẹp nhất 9 màu mới!">
                                    <img alt="Hình ảnh cho danh mục iPhone 16  có mấy màu? Gợi ý mua màu đẹp nhất 9 màu mới!"
                                         src="https://shopdunk.com/images/thumbs/0029832_iphone-16-bang-mau-chinh-thuc_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục iPhone 16  có mấy màu? Gợi ý mua màu đẹp nhất 9 màu mới!">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/iphone-16-co-may-mau">iPhone 16 có
                                        mấy màu? Gợi ý mua màu đẹp nhất 9 màu mới!</a></h3>
                                <div class="news-body">iPhone 16 có 05 màu trong khi iPhone 16 Pro
                                    có 04 màu mới siêu sang. Vậy ý nghĩa của Apple khi ra mắt các
                                    màu này như thế nào? Và gợi ý chọn màu đẹp nhất cho bạn trên
                                    iPhone 16.</div><span class="news-date">11/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/man-hinh-iphone-16"
                                   title="Hiển thị sản phẩm trong danh mục Màn hình iPhone 16: tăng 0,2 inch dòng Pro, viền cực mỏng">
                                    <img alt="Hình ảnh cho danh mục Màn hình iPhone 16: tăng 0,2 inch dòng Pro, viền cực mỏng"
                                         src="https://shopdunk.com/images/thumbs/0029905_man-hinh-iphone-16-pro-sieu-mong_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Màn hình iPhone 16: tăng 0,2 inch dòng Pro, viền cực mỏng">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/man-hinh-iphone-16">Màn hình iPhone
                                        16: tăng 0,2 inch dòng Pro, viền cực mỏng</a></h3>
                                <div class="news-body">Tin chính thức về màn hình iPhone 16 đó là:
                                    iPhone 16 Pro và iPhone 16 Pro Max sẽ được tăng 0,2 inch so với
                                    đời trước. Xem chi tiết toàn bộ thông tin về màn hình iPhone 16
                                    trong bài viết này.</div><span
                                      class="news-date">11/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/iphone-16-pro-max-co-may-mau"
                                   title="Hiển thị sản phẩm trong danh mục iPhone 16 Pro Max có mấy màu? Màu mới  sẽ &quot;cháy hàng&quot; sớm ">
                                    <img alt="Hình ảnh cho danh mục iPhone 16 Pro Max có mấy màu? Màu mới  sẽ &quot;cháy hàng&quot; sớm "
                                         src="https://shopdunk.com/images/thumbs/0029945_iphone-16-pro-max-co-04-mau-sac_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục iPhone 16 Pro Max có mấy màu? Màu mới  sẽ &quot;cháy hàng&quot; sớm ">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/iphone-16-pro-max-co-may-mau">iPhone 16 Pro Max có mấy
                                        màu? Màu mới sẽ "cháy hàng" sớm </a></h3>
                                <div class="news-body">iPhone 16 Pro Max gồm 04 màu chính thức gồm:
                                    Titan đen, Titan trắng, Titan tự nhiên và một màu mới đẹp lạ.
                                    Giải thích ý nghĩa các màu. Và gợi ý chọn màu phù hợp theo cá
                                    tính.</div><span class="news-date">11/09/2024</span>
                            </div>
                        </div>
                    </div>
                </div><a href="/apple-news" class="btn_all_news">Xem tất cả Tin tức Apple</a>
            </div>
            <div class="page news-list-page group_news">
                <div class="page-title">
                    <h2>Bài viết review</h2>
                </div>
                <div class="page-body">
                    <div class="news_lasted"></div>
                    <div class="news-items">
                        <div class="news-item">
                            <div class="picture"><a href="/so-sanh-iphone-16-va-iphone-15"
                                   title="Hiển thị sản phẩm trong danh mục So sánh iPhone 16 và iPhone 15: cải tiến hay thụt lùi?">
                                    <img alt="Hình ảnh cho danh mục So sánh iPhone 16 và iPhone 15: cải tiến hay thụt lùi?"
                                         src="https://shopdunk.com/images/thumbs/0030427_so-sanh-iphone-16-va-iphone-15_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục So sánh iPhone 16 và iPhone 15: cải tiến hay thụt lùi?">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/so-sanh-iphone-16-va-iphone-15">So
                                        sánh iPhone 16 và iPhone 15: cải tiến hay thụt lùi?</a></h3>
                                <div class="news-body">So sánh iPhone 16 và iPhone 15 về thông số kỹ
                                    thuật, thiết kế, camera, chipset, phần mềm và toàn bộ những
                                    thông tin chi tiết đã được công bố.</div><span
                                      class="news-date">25/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a
                                   href="/so-sanh-iphone-16-pro-max-va-iphone-15-pro-max"
                                   title="Hiển thị sản phẩm trong danh mục So sánh iPhone 16 Pro Max và iPhone 15 Pro Max: hơn hay kém? ">
                                    <img alt="Hình ảnh cho danh mục So sánh iPhone 16 Pro Max và iPhone 15 Pro Max: hơn hay kém? "
                                         src="https://shopdunk.com/images/thumbs/0030282_so-sanh-iphone-16-pro-max-va-iphone-15-pro-max_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục So sánh iPhone 16 Pro Max và iPhone 15 Pro Max: hơn hay kém? ">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/so-sanh-iphone-16-pro-max-va-iphone-15-pro-max">So
                                        sánh iPhone 16 Pro Max và iPhone 15 Pro Max: hơn hay kém?
                                    </a></h3>
                                <div class="news-body">iPhone 16 Pro Max khác gì so với iPhone 15
                                    Pro Max để Apple có thể tự tin về doanh số năm 2024? Tìm hiểu
                                    chi tiết toàn bộ những điểm khác biệt giữa hai phiên bản iPhone
                                    tốt nhất hiện nay.</div><span
                                      class="news-date">23/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/macbook-air-m2-vs-ipad-pro-m2"
                                   title="Hiển thị sản phẩm trong danh mục MacBook Air M2 vs iPad Pro M2: Nên mua loại nào?">
                                    <img alt="Hình ảnh cho danh mục MacBook Air M2 vs iPad Pro M2: Nên mua loại nào?"
                                         src="https://shopdunk.com/images/thumbs/0017846_macbook-air-m2-voi-ipad-pro-m2_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục MacBook Air M2 vs iPad Pro M2: Nên mua loại nào?">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/macbook-air-m2-vs-ipad-pro-m2">MacBook Air M2 vs iPad
                                        Pro M2: Nên mua loại nào?</a></h3>
                                <div class="news-body">Giữa MacBook Air M2 vs iPad Pro M2, nhiều
                                    người ngay lập tức chọn mua iPad Pro M2 vì nghĩ chiếc iPad
                                    này thay thế được laptop. Họ cho rằng mua iPad Pro M2 kèm bút
                                    và bàn phím sẽ có lợi hơn vì ba sản phẩm cộng lại mới có mức
                                    giá xấp xỉ MacBook Air M2. Vậy có thực sự nên mua iPad Pro
                                    M2 thay cho MacBook Air M2 không? Cùng so sánh chi tiết 2 sản
                                    phẩm để tìm ra câu trả lời nhé!</div><span
                                      class="news-date">23/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/danh-gia-iphone-16-pro-max"
                                   title="Hiển thị sản phẩm trong danh mục Đánh giá iPhone 16 Pro Max: màn hình lớn và &quot;siêu camera&quot; ">
                                    <img alt="Hình ảnh cho danh mục Đánh giá iPhone 16 Pro Max: màn hình lớn và &quot;siêu camera&quot; "
                                         src="https://shopdunk.com/images/thumbs/0030281_0028898_titan-sa-mac_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Đánh giá iPhone 16 Pro Max: màn hình lớn và &quot;siêu camera&quot; ">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/danh-gia-iphone-16-pro-max">Đánh
                                        giá iPhone 16 Pro Max: màn hình lớn và "siêu camera" </a>
                                </h3>
                                <div class="news-body">iPhone 16 Pro Max với nhiều thay đổi nổi bật
                                    về màn hình lớn, nâng cấp siêu camera, trí tuệ nhân tạo Apple và
                                    nhiều hơn thế. Liệu có xứng đáng lên đời iPhone năm 2024?</div>
                                <span class="news-date">19/09/2024</span>
                            </div>
                        </div>
                    </div>
                </div><a href="/news-review" class="btn_all_news">Xem tất cả Bài viết review</a>
            </div>
            <div class="page news-list-page group_news">
                <div class="page-title">
                    <h2>Khám phá</h2>
                </div>
                <div class="page-body">
                    <div class="news_lasted"></div>
                    <div class="news-items">
                        <div class="news-item">
                            <div class="picture"><a href="/chip-a18-pro"
                                   title="Hiển thị sản phẩm trong danh mục A18 Pro: Chip iPhone 16 mạnh nhất 2024 có gì?">
                                    <img alt="Hình ảnh cho danh mục A18 Pro: Chip iPhone 16 mạnh nhất 2024 có gì?"
                                         src="https://shopdunk.com/images/thumbs/0030998_danh-gia-chip-a18-pro-tren-iphone-16-pro-va-iphone-16-pro-max_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục A18 Pro: Chip iPhone 16 mạnh nhất 2024 có gì?">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/chip-a18-pro">A18 Pro: Chip iPhone
                                        16 mạnh nhất 2024 có gì?</a></h3>
                                <div class="news-body">Chip A18 Pro có gì mà được đánh giá là con
                                    chip mạnh mẽ top đầu khi được tung ra thị trường? Khả năng đa
                                    nhiệm, làm mát, hiệu năng, đồ họa siêu cường và được tối ưu cho
                                    AI.</div><span class="news-date">16/10/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/sac-iphone-16"
                                   title="Hiển thị sản phẩm trong danh mục Sạc iPhone 16 và iPhone 16 Pro Max: hỗ trợ đến 35W">
                                    <img alt="Hình ảnh cho danh mục Sạc iPhone 16 và iPhone 16 Pro Max: hỗ trợ đến 35W"
                                         src="https://shopdunk.com/images/thumbs/0030278_sac-magsafe-iphone-16-cong-suat-25W_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Sạc iPhone 16 và iPhone 16 Pro Max: hỗ trợ đến 35W">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/sac-iphone-16">Sạc iPhone 16 và
                                        iPhone 16 Pro Max: hỗ trợ đến 35W</a></h3>
                                <div class="news-body">Sạc iPhone 16 và iPhone 16 Pro Max được cải
                                    tiến sạc nhanh không dây MagSafe và có thời lượng pin tốt nhất
                                    từ trước đến nay của Apple. Tìm hiểu chi tiết về toàn bộ sạc
                                    iPhone 16 trong bài viết này...</div><span
                                      class="news-date">23/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/camera-iphone-16"
                                   title="Hiển thị sản phẩm trong danh mục Đánh giá về Camera iPhone 16 series: 10+ nâng cấp mới nhất">
                                    <img alt="Hình ảnh cho danh mục Đánh giá về Camera iPhone 16 series: 10+ nâng cấp mới nhất"
                                         src="https://shopdunk.com/images/thumbs/0030277_camera-iPhone-16-Pro-va-Pro-Max-can-canh_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Đánh giá về Camera iPhone 16 series: 10+ nâng cấp mới nhất">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/camera-iphone-16">Đánh giá về
                                        Camera iPhone 16 series: 10+ nâng cấp mới nhất</a></h3>
                                <div class="news-body">iPhone 16 có camera Fusion 48MP, camera góc
                                    siêu rộng 48MP, cảm biến bốn điểm ảnh, ống Tetraprism chụp ảnh
                                    macro siêu nét, quay video 4K Dolby Vision và nhiều nâng cấp
                                    khác. Xem chi tiết..</div><span
                                      class="news-date">21/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/kich-thuoc-iphone-16"
                                   title="Hiển thị sản phẩm trong danh mục Kích thước iPhone 16/Plus/Pro/Pro Max đầy đủ, chính xác nhất&nbsp;">
                                    <img alt="Hình ảnh cho danh mục Kích thước iPhone 16/Plus/Pro/Pro Max đầy đủ, chính xác nhất&nbsp;"
                                         src="https://shopdunk.com/images/thumbs/0030276_kich-thuoc-iphone-16-pro-va-iphone-16-pro-max_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Kích thước iPhone 16/Plus/Pro/Pro Max đầy đủ, chính xác nhất&nbsp;">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/kich-thuoc-iphone-16">Kích thước
                                        iPhone 16/Plus/Pro/Pro Max đầy đủ, chính xác nhất&nbsp;</a>
                                </h3>
                                <div class="news-body">Kích thước iPhone 16 dòng cao cấp có sự thay
                                    đổi lớn về màn hình, kích thước chung và trọng lượng thay đổi
                                    nhưng không đáng kể. Dòng tiêu chuẩn gần như không đổi về kích
                                    thước. Xem chi tiết...</div><span
                                      class="news-date">20/09/2024</span>
                            </div>
                        </div>
                    </div>
                </div><a href="/tin-kham-pha" class="btn_all_news">Xem tất cả Khám phá</a>
            </div>
            <div class="page news-list-page group_news">
                <div class="page-title">
                    <h2>Thủ thuật</h2>
                </div>
                <div class="page-body">
                    <div class="news_lasted"></div>
                    <div class="news-items">
                        <div class="news-item">
                            <div class="picture"><a href="/ipad-bi-do-khong-tat-duoc-nguon"
                                   title="Hiển thị sản phẩm trong danh mục 6 cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây">
                                    <img alt="Hình ảnh cho danh mục 6 cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây"
                                         src="https://shopdunk.com/images/thumbs/0018762_ipad-bi-do-khong-tat-duoc-nguon_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục 6 cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/ipad-bi-do-khong-tat-duoc-nguon">6
                                        cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây</a>
                                </h3>
                                <div class="news-body">Người dùng iPad gặp phải tình huống iPad
                                    bị đơ không tắt được nguồn khiến quá trình sử dụng
                                    thiết bị cực kỳ bất tiện. Đừng lo lắng vì ngay sau đây,
                                    kĩ thuật viên ShopDunk sẽ hướng dẫn bạn 6 cách xử ký cực
                                    dễ, chỉ mất chưa tới 5 giây!</div><span
                                      class="news-date">10/09/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/launchpad-macbook"
                                   title="Hiển thị sản phẩm trong danh mục Hướng dẫn sử dụng Launchpad MacBook chỉ trong 5 phút">
                                    <img alt="Hình ảnh cho danh mục Hướng dẫn sử dụng Launchpad MacBook chỉ trong 5 phút"
                                         src="https://shopdunk.com/images/thumbs/0019027_launchpad-macbook_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Hướng dẫn sử dụng Launchpad MacBook chỉ trong 5 phút">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/launchpad-macbook">Hướng dẫn sử
                                        dụng Launchpad MacBook chỉ trong 5 phút</a></h3>
                                <div class="news-body">Launchpad MacBook MacBook là một phần quan
                                    trọng giúp việc truy cập ứng dụng của người dùng được diễn ra
                                    nhanh chóng và thuận tiện hơn. Hãy cùng ShopDunk tìm hiểu nhanh
                                    những thao tác cơ bản mà bạn có thể dễ dàng thực hiện ngay trên
                                    phần Launchpad này.</div><span
                                      class="news-date">21/08/2023</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/cach-tao-thu-muc-tren-macbook"
                                   title="Hiển thị sản phẩm trong danh mục Hướng dẫn 5 cách tạo thư mục trên MacBook đơn giản, nhanh chóng">
                                    <img alt="Hình ảnh cho danh mục Hướng dẫn 5 cách tạo thư mục trên MacBook đơn giản, nhanh chóng"
                                         src="https://shopdunk.com/images/thumbs/0018994_cach-tao-thu-muc-tren-macbook_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Hướng dẫn 5 cách tạo thư mục trên MacBook đơn giản, nhanh chóng">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/cach-tao-thu-muc-tren-macbook">Hướng dẫn 5 cách tạo
                                        thư mục trên MacBook đơn giản, nhanh chóng</a></h3>
                                <div class="news-body">Tạo thư mục (folder) để lưu trữ và phân loại
                                    tài liệu là một trong những thao tác quen thuộc của người dùng
                                    máy tính. Nếu bạn là người dùng đã quen thuộc với hệ điều hành
                                    Windows thì chắc hẳn sẽ gặp không ít bối rối khi tạo thư mục
                                    (folder) trên macOS. Trong bài viết này, ShopDunk sẽ hướng dẫn
                                    bạn cách tạo thư mục trên MacBook với 5 bước đơn giản và nhanh
                                    chóng!</div><span class="news-date">17/08/2023</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/xoa-trang-macbook-m2"
                                   title="Hiển thị sản phẩm trong danh mục 3 bước xóa trắng MacBook M2 và cài đặt lại macOS cực dễ dàng">
                                    <img alt="Hình ảnh cho danh mục 3 bước xóa trắng MacBook M2 và cài đặt lại macOS cực dễ dàng"
                                         src="https://shopdunk.com/images/thumbs/0018754_xoa-trang-macbook-m2_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục 3 bước xóa trắng MacBook M2 và cài đặt lại macOS cực dễ dàng">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/xoa-trang-macbook-m2">3 bước xóa
                                        trắng MacBook M2 và cài đặt lại macOS cực dễ dàng</a></h3>
                                <div class="news-body">Xóa trắng MacBook M2 thường được ứng dụng
                                    trong trường hợp người dùng muốn cài đặt lại macOS, hoặc muốn
                                    sang nhượng lại máy cho người khác. Dưới đây sẽ là 5 bước xóa
                                    máy mac M2 vô cùng đơn giản mà bạn có thể tham khảo.</div><span
                                      class="news-date">06/07/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href="/thu-thuat" class="btn_all_news">Xem tất cả Thủ thuật</a>
            </div>
            <div class="page news-list-page group_news">
                <div class="page-title">
                    <h2>Khuyến mại</h2>
                </div>
                <div class="page-body">
                    <div class="news_lasted"></div>
                    <div class="news-items">
                        <div class="news-item">
                            <div class="picture"><a
                                   href="/sale-t%C6%B0ng-b%E1%BB%ABng-m%E1%BB%ABng-ph%C3%A1i-%C4%91%E1%BA%B9p-1010-3110"
                                   title="Hiển thị sản phẩm trong danh mục SALE TƯNG BỪNG - MỪNG PHÁI ĐẸP  10/10 - 31/10">
                                    <img alt="Hình ảnh cho danh mục SALE TƯNG BỪNG - MỪNG PHÁI ĐẸP  10/10 - 31/10"
                                         src="https://shopdunk.com/images/thumbs/0030999_banner hotsale_App copy_1600.png"
                                         title="Hiển thị sản phẩm trong danh mục SALE TƯNG BỪNG - MỪNG PHÁI ĐẸP  10/10 - 31/10">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/sale-t%C6%B0ng-b%E1%BB%ABng-m%E1%BB%ABng-ph%C3%A1i-%C4%91%E1%BA%B9p-1010-3110">SALE
                                        TƯNG BỪNG - MỪNG PHÁI ĐẸP 10/10 - 31/10</a></h3>
                                <div class="news-body">Không khí rộn ràng đang bao phủ khắp nơi với
                                    tình yêu và lòng tri ân đặc biệt tới phái đẹp nhân dịp ngày Phụ
                                    nữ Việt Nam 20/10. Mỗi món quà là một lời nhắn, tình cảm chân
                                    thành gửi đến phái đẹp trong Ngày Phụ nữ Việt Nam 20/10.
                                    ShopDunk tung loạt deal độc quyền giảm tới 10 TRIỆU++ dành riêng
                                    cho chị em nhân ngày lễ ý nghĩa này. Hãy để những món quà công
                                    nghệ hữu ích thay lời yêu của bạn dành cho phái đẹp trong dịp
                                    đặc biệt này nhé!</div><span class="news-date">17/10/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/tong-hop-ctkm-thang-10-tai-shopdunk"
                                   title="Hiển thị sản phẩm trong danh mục Tổng hợp CTKM tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản phẩm Apple chính hãng">
                                    <img alt="Hình ảnh cho danh mục Tổng hợp CTKM tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản phẩm Apple chính hãng"
                                         src="https://shopdunk.com/images/thumbs/0030538_banner tổng T10_App_1600.png"
                                         title="Hiển thị sản phẩm trong danh mục Tổng hợp CTKM tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản phẩm Apple chính hãng">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/tong-hop-ctkm-thang-10-tai-shopdunk">Tổng hợp CTKM
                                        tháng 10 tại ShopDunk. Ưu đãi lên đến 13 Triệu cho sản
                                        phẩm Apple chính hãng</a></h3>
                                <div class="news-body">Tháng 10 này, không khí se lạnh của mùa thu
                                    đã tràn ngập khắp phố phường, báo hiệu mùa yêu thương đã về. Để
                                    tôn vinh vẻ đẹp và sự đóng góp của phái đẹp, ShopDunk mang đến
                                    chương trình ưu đãi đặc biệt "Tháng Tôn Vinh Phụ Nữ" với mức
                                    giảm giá lên đến 50% cho các sản phẩm iPad, iPhone, MacBook,
                                    Apple Watch, AirPods...Đừng bỏ lỡ cơ hội sở hữu những món đồ
                                    công nghệ yêu thích với giá cực hời trong tháng này nhé!</div>
                                <span class="news-date">01/10/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a
                                   href="/so-huu-office-365-chi-voi-0-dong-tai-shopdunk"
                                   title="Hiển thị sản phẩm trong danh mục Sở hữu ngay Microsoft Office 365 chỉ với 0 ĐỒNG khi mua iPad Pro M1 tại ShopDunk">
                                    <img alt="Hình ảnh cho danh mục Sở hữu ngay Microsoft Office 365 chỉ với 0 ĐỒNG khi mua iPad Pro M1 tại ShopDunk"
                                         src="https://shopdunk.com/images/thumbs/0017738_banner-mb-ipad-pro-2_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Sở hữu ngay Microsoft Office 365 chỉ với 0 ĐỒNG khi mua iPad Pro M1 tại ShopDunk">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/so-huu-office-365-chi-voi-0-dong-tai-shopdunk">Sở hữu
                                        ngay Microsoft Office 365 chỉ với 0 ĐỒNG khi mua iPad Pro M1
                                        tại ShopDunk</a></h3>
                                <div class="news-body">ShopDunk vừa tung ra chương trình khuyến mãi
                                    cực kỳ ưu đãi dành cho khách hàng, cụ thể hơn khi khách hàng sắm
                                    iPad Pro M1 tại ShopDunk sẽ được sở hữu bộ phần mềm văn phòng
                                    nổi tiếng Office 365 bản quyền 1 năm với giá chỉ 0 đồng, hãy
                                    cùng tìm hiểu thông tin chi tiết nhé!</div><span
                                      class="news-date">23/08/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a
                                   href="/nam-hoc-moi-rinh-may-moi-uu-dai-doc-quyen-danh-cho-hoc-sinh-sinh-vien"
                                   title="Hiển thị sản phẩm trong danh mục NĂM HỌC MỚI, RINH MÁY MỚI - ƯU ĐÃI ĐỘC QUYỀN DÀNH CHO HỌC SINH SINH VIÊN">
                                    <img alt="Hình ảnh cho danh mục NĂM HỌC MỚI, RINH MÁY MỚI - ƯU ĐÃI ĐỘC QUYỀN DÀNH CHO HỌC SINH SINH VIÊN"
                                         src="https://shopdunk.com/images/thumbs/0027857_banner iMac T8_Danh mục_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục NĂM HỌC MỚI, RINH MÁY MỚI - ƯU ĐÃI ĐỘC QUYỀN DÀNH CHO HỌC SINH SINH VIÊN">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a
                                       href="/nam-hoc-moi-rinh-may-moi-uu-dai-doc-quyen-danh-cho-hoc-sinh-sinh-vien">NĂM
                                        HỌC MỚI, RINH MÁY MỚI - ƯU ĐÃI ĐỘC QUYỀN DÀNH CHO HỌC SINH
                                        SINH VIÊN</a></h3>
                                <div class="news-body">Tiếp sức đến trường cùng ngàn ưu đãi đặc biệt
                                    dành riêng cho học sinh,sinh viên chỉ có tại ShopDunk. Hứa hẹn
                                    sẽ mang đến cơ hội vàng cho các bạn trẻ được sở hữu những sản
                                    phẩm công nghệ hàng đầu từ Apple với mức giá ưu đãi chưa từng
                                    có.</div><span class="news-date">02/08/2024</span>
                            </div>
                        </div>
                    </div>
                </div><a href="/khuyen-mai" class="btn_all_news">Xem tất cả Khuyến mại</a>
            </div>
            <div class="page news-list-page group_news">
                <div class="page-title">
                    <h2>Tin khác</h2>
                </div>
                <div class="page-body">
                    <div class="news_lasted"></div>
                    <div class="news-items">
                        <div class="news-item">
                            <div class="picture"><a href="/macbook-danh-cho-sinh-vien"
                                   title="Hiển thị sản phẩm trong danh mục Top 4 MacBook dành cho sinh viên: Cấu hình cao, giá tốt, bền, thời thượng">
                                    <img alt="Hình ảnh cho danh mục Top 4 MacBook dành cho sinh viên: Cấu hình cao, giá tốt, bền, thời thượng"
                                         src="https://shopdunk.com/images/thumbs/0019029_macbook-danh-cho-sinh-vien_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Top 4 MacBook dành cho sinh viên: Cấu hình cao, giá tốt, bền, thời thượng">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/macbook-danh-cho-sinh-vien">Top 4
                                        MacBook dành cho sinh viên: Cấu hình cao, giá tốt, bền, thời
                                        thượng</a></h3>
                                <div class="news-body">Vậy macbook có phù hợp cho sinh viên không?
                                    Khi so sánh về độ bền, hiệu năng và thời lượng pin thì MacBook
                                    tuy là khoản đầu tư cao ban đầu nhưng tính lâu dài thì lại rẻ.
                                    Top 4 sản phẩm MacBook dành cho sinh viên dưới đây sẽ cho thấy
                                    kết luận trên là hoàn toàn đúng.</div><span
                                      class="news-date">01/06/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/review-macbook-pro-m3-2023"
                                   title="Hiển thị sản phẩm trong danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming">
                                    <img alt="Hình ảnh cho danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming"
                                         src="https://shopdunk.com/images/thumbs/0023321_review-macbook-pro-m3-2023 (2)_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/review-macbook-pro-m3-2023">Review
                                        MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa
                                        và gaming</a></h3>
                                <div class="news-body">MacBook Pro M3 2023 - Siêu phẩm đình đám nhận
                                    được nhiều sự đầu tư về hiệu năng cùng các công nghệ mới đi kèm.
                                    Hãy cùng review MacBook Pro M3 2023 chi tiết hơn trong bài viết
                                    này!</div><span class="news-date">28/02/2024</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/co-nen-mua-macbook-pro-m3"
                                   title="Hiển thị sản phẩm trong danh mục Ai nên mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi tiết">
                                    <img alt="Hình ảnh cho danh mục Ai nên mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi tiết"
                                         src="https://shopdunk.com/images/thumbs/0023713_co-nen-mua-macbook-pro-m3-ava_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Ai nên mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi tiết">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/co-nen-mua-macbook-pro-m3">Ai nên
                                        mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi
                                        tiết</a></h3>
                                <div class="news-body">Cùng ShopDunk điểm qua 9 điểm nổi bật trên
                                    dòng MacBook Pro M3 để dễ dàng đưa ra quyết định có nên mua
                                    MacBook Pro M3 hay không. Đừng bỏ lỡ!</div><span
                                      class="news-date">10/11/2023</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="picture"><a href="/tra-gop-macbook-pro-m3"
                                   title="Hiển thị sản phẩm trong danh mục Trả góp MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với ShopDunk">
                                    <img alt="Hình ảnh cho danh mục Trả góp MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với ShopDunk"
                                         src="https://shopdunk.com/images/thumbs/0023666_tra-gop-macbook-pro-m3 (1)_1600.jpeg"
                                         title="Hiển thị sản phẩm trong danh mục Trả góp MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với ShopDunk">
                                </a></div>
                            <div class="news-head">
                                <h3 class="news-title"><a href="/tra-gop-macbook-pro-m3">Trả góp
                                        MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với
                                        ShopDunk</a></h3>
                                <div class="news-body">ShopDunk hỗ trợ trả góp 0% lãi suất đối với
                                    dòng MacBook Pro M3. Tìm hiểu chi tiết chính sách của ShopDunk
                                    để sở hữu sản phẩm với giá ưu đãi nhất!</div><span
                                      class="news-date">10/11/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href="/tin-khac" class="btn_all_news">Xem tất cả Tin khác</a>
            </div>
        </div>
    </div>
</div>
</div>
